!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "Browse and analyse the public ChIP-Seq/DNase-Seq/ATAC-Seq/Bisulfite-Seq data on your browser." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas"

    // Bootstrap core and typeahead CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

    // GA
    %script{:async => true, :src => "https://www.googletagmanager.com/gtag/js?id=UA-117599014-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117599014-1');

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }
            %i.fas.fa-mountain
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }
                %i.fas.fa-glasses
                Peak Browser
            %li
              %a{ :href => "#{app_root}/enrichment_analysis" }
                %i.fas.fa-hand-holding-heart
                Enrichment Analysis
            %li
              %a{ href: "#{app_root}/diff_analysis" }
                %i.fas.fa-balance-scale-left
                Diff Analysis
            %li
              %a{ :href => "#{app_root}/target_genes" }
                %i.fas.fa-bullseye
                Target Genes
            %li
              %a{ :href => "#{app_root}/colo" }
                %i.fas.fa-compress-arrows-alt
                Colocalization
            %li
              %a{ :href => "#{app_root}/publications" }
                %i.fas.fa-book
                Publications
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }
                %i.fab.fa-github
                Docs
          %p.navbar-text.navbar-right
            %a{ href: "/search" }
              %i.fas.fa-search
              Search
          %form.navbar-form.navbar-right{ role: "search" }
            .form-group
              - id_example = ["GSM469863", "SRX018625"].sample(1)[0]
              %input.form-control#jumpToExperiment{ type: "text", value: "#{id_example}" }
            %button.btn.btn-default.go-experiment{ type: "submit", }= "Go"
          %p.navbar-text.navbar-right
            Find By ID

    .container
      .page-header
        %h1
          %i.fas.fa-mountain
          ChIP-Atlas
        %p
          A data-mining suite for exploring epigenomic landscapes by fully integrating ChIP-seq, ATAC-seq and Bisulfite-seq data. #{@number_of_experiments} experiments available

      .row.align-height
        .col-md-4
          %a.jumbotron-link{ href: "#{app_root}/peak_browser" }
            .jumbotron
              .row
                .col-xs-12.col-sm-4.col-icon
                  .icon
                    %i.fas.fa-glasses
                .col-xs-12.col-sm-8.col-labels
                  .header-text
                    %h3
                      Peak Browser
                  .labels
                    %span.label.label-primary
                      ChIP
                    %span.label.label-primary
                      ATAC
                    %span.label.label-primary
                      Bisulfite

        .col-md-4
          %a.jumbotron-link{ href: "#{app_root}/enrichment_analysis" }
            .jumbotron
              .row
                .col-xs-12.col-sm-4.col-icon
                  .icon
                    %i.fas.fa-hand-holding-heart
                .col-xs-12.col-sm-8.col-labels
                  .header-text
                    %h3
                      Enrichment Analysis
                  .labels
                    %span.label.label-primary
                      ChIP
                    %span.label.label-primary
                      ATAC
                    %span.label.label-primary
                      Bisulfite

        .col-md-4
          %a.jumbotron-link{ href: "#{app_root}/diff_analysis" }
            .jumbotron
              .row
                .col-xs-12.col-sm-4.col-icon
                  .icon
                    %i.fas.fa-balance-scale-left
                .col-xs-12.col-sm-8.col-labels
                  .header-text
                    %h3
                      Diff Analysis
                  .labels
                    %span.label.label-primary
                      ChIP
                    %span.label.label-primary
                      ATAC
                    %span.label.label-primary
                      Bisulfite

      .row.align-height
        .col-md-4
          %a.jumbotron-link{ href: "#{app_root}/target_genes" }
            .jumbotron
              .row
                .col-xs-12.col-sm-4.col-icon
                  .icon
                    %i.fas.fa-bullseye
                .col-xs-12.col-sm-8.col-labels
                  .header-text
                    %h3
                      Target Genes
                  .labels
                    %span.label.label-primary
                      ChIP

        .col-md-4
          %a.jumbotron-link{ href: "#{app_root}/colo" }
            .jumbotron
              .row
                .col-xs-12.col-sm-4.col-icon
                  .icon
                    %i.fas.fa-compress-arrows-alt
                .col-xs-12.col-sm-8.col-labels
                  .header-text
                    %h3
                      Colocalization
                  .labels
                    %span.label.label-primary
                      ChIP

        .col-md-4
          %a.jumbotron-link{ href: "#{app_root}/search" }
            .jumbotron
              .row
                .col-xs-12.col-sm-4.col-icon
                  .icon
                    %i.fas.fa-search
                .col-xs-12.col-sm-8.col-labels
                  .header-text
                    %h3
                      Dataset Search
                  .labels
                    %span.label.label-primary
                      ChIP
                    %span.label.label-primary
                      ATAC
                    %span.label.label-primary
                      Bisulfite

      .row
        .col-md-10.col-md-offset-2
          != markdown(:updates, layout: false, fenced_code_blocks: true, autolink: true)

    != haml :footer

    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :crossorigin => "anonymous", :src => "https://kit.fontawesome.com/9c24e0099d.js" }
