!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "Browse and analyse the public ChIP-Seq/DNase-Seq/ATAC-Seq/Bisulfite-Seq data on your browser." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas"

    // Bootstrap core and typeahead CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

    // GA
    %script{:async => true, :src => "https://www.googletagmanager.com/gtag/js?id=UA-117599014-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117599014-1');

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }
            %i.fas.fa-mountain
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }= "Peak Browser"
            %li
              %a{ :href => "#{app_root}/target_genes" }= "Target Genes"
            %li
              %a{ :href => "#{app_root}/colo" }= "Colocalization"
            %li
              %a{ :href => "#{app_root}/enrichment_analysis" }= "Enrichment Analysis"
            %li
              %a{ href: "#{app_root}/diff_analysis" }
                Diff Analysis
            %li
              %a{ :href => "#{app_root}/publications" }= "Publications"
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }
                %i.fab.fa-github
                Docs
          %p.navbar-text.navbar-right
            %a{ href: "/search" }
              %i.fas.fa-search
              Advanced
          %form.navbar-form.navbar-right{ role: "search" }
            .form-group
              - id_example = ["GSM469863", "SRX018625"].sample(1)[0]
              %input.form-control#jumpToExperiment{ type: "text", value: "#{id_example}" }
            %button.btn.btn-default.go-experiment{ type: "submit", }= "Go"
          %p.navbar-text.navbar-right
            Find By ID

    -# .jumbotron
    -#   .container
    -#     %h1
    -#       %i.fas.fa-mountain
    -#       ChIP-Atlas
    -#     %p.main-desc="An integrative, comprehensive database to explore public Epigenetic dataset, including ChIP-Seq, DNase-Seq, ATAC-Seq, and Bisulfite-Seq data: ChIP-Atlas covers almost all public data archived in Sequence Read Archive of NCBI, EBI, and DDBJ with over #{@number_of_experiments} experiments."
    -#     %p.main-desc
    -#       %a{ :href => "https://youtu.be/xbYpE9GE_rY", :target => "_blank" }
    -#         Watch movie introduction
    .container
      .page-header
        %h1
          %i.fas.fa-mountain
          ChIP-Atlas

      .row.align-height
        .col-md-4
          .jumbotron
            .row
              .col-md-5
                %h1
                  %i.fas.fa-glasses
              .col-md-7
                %h3
                  Peak Browser
                .div
                  %span.label.label-primary
                    ChIP
                  %span.label.label-primary
                    ATAC
                  %span.label.label-primary
                    Bisulfite
            -# %a{ :href => "#{app_root}/peak_browser" }
            -# %p.main-desc
            -#   Visualizes epigenetic features on
            -#   %a{ href: "http://software.broadinstitute.org/software/igv/home", target: "_blank" }
            -#     IGV
            -#   %a{ :href => "https://youtu.be/qKNOkK-8hDo", :target => "_blank" }
            -#     %i.fas.fa-play-circle

        .col-md-4
          .jumbotron
            .row
              .col-md-5
                %h1
                  %i.fas.fa-hand-holding-heart
              .col-md-7
                %h3
                  Enrichment Analysis
                .div
                  %span.label.label-primary
                    ChIP
                  %span.label.label-primary
                    ATAC
                  %span.label.label-primary
                    Bisulfite

            -# %a{ :href => "#{app_root}/enrichment_analysis" }
            -# %p.main-desc
            -#   Predict proteins bound to given genomic loci and genes
            -#   %a{ :href => "https://youtu.be/JBOB2PX5_-0", :target => "_blank"  }
            -#     %i.fas.fa-play-circle

        .col-md-4
          .jumbotron
            .row
              .col-md-5
                %h1
                  %i.fas.fa-balance-scale-left
              .col-md-7
                %h3
                  Diff Analysis
                .div
                  %span.label.label-primary
                    ChIP
                  %span.label.label-primary
                    ATAC
                  %span.label.label-primary
                    Bisulfite
            -# %a{ :href => "#{app_root}/diff_analysis" }
            -# %p.main-desc
            -#   Predict proteins bound to given genomic loci and genes

      .row.align-height
        .col-md-4
          .jumbotron
            %h2
              %i.fas.fa-bullseye
              Target Genes
            %p
              %span.label.label-primary
                ChIP
            -# %a{ :href => "#{app_root}/target_genes" }
            -# %p.main-desc
            -#   Predict target genes bound by given transcription factors
            -#   %a{ :href => "https://youtu.be/Sp9DUAuKkvQ", :target => "_blank" }
            -#     %i.fas.fa-play-circle

        .col-md-4
          .jumbotron
            %h2
              %i.fas.fa-compress-arrows-alt
              Colocalization
            %p
              %span.label.label-primary
                ChIP
            -# %a{ :href => "#{app_root}/colo" }
            -# %p.main-desc
            -#   Predict partner proteins colocalizing with given transcription factors
            -#   %a{ :href => "https://youtu.be/jhLnWNCe_No", :target => "_blank" }
            -#     %i.fas.fa-play-circle

        .col-md-4
          .jumbotron
            %h2
              %i.fas.fa-search
              Dataset Search
            %p
              %span.label.label-primary
                ChIP
              %span.label.label-primary
                ATAC
              %span.label.label-primary
                Bisulfite
            -# %a{ :href => "#{app_root}/search" }
            -# %p.main-desc
            -#   Predict partner proteins colocalizing with given transcription factors

      .row
        .col-md-12
          ~ markdown(:updates, layout: false, fenced_code_blocks: true, autolink: true)

    %footer.footer
      .container
        %row
          .col-md-4.col-md-offset-4
            %a{ href: "http://www.mic.med.kyoto-u.ac.jp/dddm_en/", target: "_blank" }
              %img{ src: "/images/logo/kyoto_uni_logo.png", width: 120 }
            %a{ href: "https://dbcls.rois.ac.jp", target: "_blank" }
              %img{ src: "/images/logo/dbcls_logo.png", width: 100 }
        %row
          .col-md-6.col-md-offset-3
            %p.acknowledgement
              This work is supported by
              %a{ href: "https://sc.ddbj.nig.ac.jp/" }
                NIG Supercomputer system
              and
              %a{ href: "https://biosciencedbc.jp" }
                National Bioscience Database Center.
            %p
              Need help? Create an issue on
              %a{ href: "https://github.com/inutano/chip-atlas/issues" }
                github
              or
              %a{ href: "mailto:oki.shinya.3w@kyoto-u.ac.jp" }
                contact us

    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :crossorigin => "anonymous", :src => "https://kit.fontawesome.com/9c24e0099d.js" }
