!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "Prediction of colocalization pertners of transcription factors." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas: Colocalization"

    // Bootstrap core and typeahead CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "#{app_root}/css/typeaheadjs.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/fontawesome.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/brands.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/solid.css", :rel => "stylesheet"}

  %body
    - @active_menu = 'colo'
    != haml :_navigation

    .container
      .row
        .col-md-10
          .header
            %h1
              %i.fas.fa-mountain
              ChIP-Atlas: Colocalization
            %p
              Predict potential partner proteins that form complexes with given TFs
        .col-md-2
          .dropdown-help
            .dropdown
              .button.btn.btn-primary.dropdown-toggle{ :type => "button", :id => "movies-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                %i.fas.fa-question-circle
                Tutorial
                %span.caret
              %ul.dropdown-menu{ "aria-labelledby" => "movies-dropdown" }
                %li
                  %a{ :href => "https://chip-atlas.dbcls.jp/data/manual/Colocalization/Colocalization.pdf", :target => "_blank" }="PDF"
                %li
                  %a{ :href => "https://youtu.be/jhLnWNCe_No", :target => "_blank" }= "Movie"
                %li
                  %a{ :href => "http://doi.org/10.7875/togotv.2018.028", :target => "_blank" }= "Movie (統合TV, Japanese)"


      // Navigation Tabs, links and contents
      .genomeTab{ :role => "tabpanel"}

        // Tabs
        %ul.nav.nav-tabs{ :role => "tablist" }
          - @list_of_genome.keys.each.with_index do |genome, i|
            %li{ :role => "presentation", :class => "#{(i == 0) ? 'active' : '' }", :id => "#{genome}-tab" }
              %a{ :href => "##{genome}-tab-content", "aria-controls" => "#{genome}-tab-content", :role => "tab", "data-toggle" => "tab", "source" => genome }
                = "#{@list_of_genome[genome]}"

        // Contents
        .tab-content
          - @list_of_genome.keys.each.with_index do |genome, i|
            .tab-pane.fade{ :role => "tabpanel", :id => "#{genome}-tab-content", :class => "#{(i == 0) ? 'in active' : ''}" }
              .row
                .col-md-3
                  .panel.panel-default
                    - panel = "#{genome}StartingPanel"
                    .panel-heading{ :id => panel }
                      %h4.panel-title= "1. Search mode"
                    .panel-body
                      %form{ :id => "#{panel}-form" }
                        .radio
                          %label
                            %input{ :type => "radio", :id => genome + "dataTypeAntigen", :value => "antigen", :name => genome + "datatypeoption", :checked => "checked" }
                            = " Antigens → Cell Type "
                        .radio
                          %label
                            %input{ :type => "radio", :id => genome + "dataTypeCellType", :value => "cellline", :name => genome + "datatypeoption" }
                            = " Cell Type → Antigen "
                .col-md-3
                  .panel.panel-default
                    - panel = "#{genome}PrimaryPanel"
                    .panel-heading{ :id => panel }
                      %h4.panel-title= "2. Choose Primary Type"
                    .panel-body
                      %input.typeahead.form-control{ :type => "text", :placeholder => "type to search", :id => "#{panel}-typeahead" }
                      %hr
                      %select.form-control.flexselect.primary{ :id => "#{panel}-select", :size => 8 }

                .col-md-3
                  .panel.panel-default
                    - panel = "#{genome}SecondaryPanel"
                    .panel-heading{ :id => panel }
                      %h4.panel-title= "3. Choose Secondary Type"
                    .panel-body
                      %input.typeahead.form-control{ :type => "text", :placeholder => "type to search", :id => "#{panel}-typeahead" }
                      %hr
                      %select.form-control.flexselect.secondary{ :id => "#{panel}-select", :size => 8 }

              .row
                .col-md-6.col-md-offset-3
                  .button-submit.down
                    %button.btn.btn-primary.btn-lg.btn-block.post{ :id => "colo-submit", :type => "button" }= "View Colocalization Data"
              .row.colo-download
                .col-md-3.col-md-offset-3
                  .button-submit
                    %button.btn.btn-primary.btn-lg.btn-block.post{ :id => "download-tsv", :type => "button" }= "Download (TSV)"
                .col-md-3
                  .button-submit
                    %button.btn.btn-primary.btn-lg.btn-block.post{ :id => "download-gml", :type => "button" }= "Download (GML)"


    != haml :footer

    /
      Bootstrap Core Javascript
      =========================
    %link{ :href => "#{app_root}/css/flexselect.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/liquidmetal.js" }
    %script{ :src => "#{app_root}/js/jquery.flexselect.js" }
    %script{ :src => "#{app_root}/js/typeahead.bundle.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :src => "#{app_root}/js/pj/colo.js" }
