!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "Step-by-step tutorial for using ChIP-Atlas with AI agents via llms.txt, MCP server, and HTTP API." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas: Demo Tutorial"

    // Bootstrap core and typeahead CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/fontawesome.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/brands.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/solid.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/regular.css", :rel => "stylesheet"}

  %body
    - @active_menu = 'demo'
    != haml :_navigation

    .container
      .row
        .col-md-8.col-md-offset-2.publication_list
          != markdown(:demo, layout: false, fenced_code_blocks: true, autolink: true, tables: true)

    != haml :footer

    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    != haml :_copy_code
