!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "Display the results of performed enrichment analysis." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas: Diff Analysis Result"

    // Bootstrap core and typeahead CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

    // GA
    %script{:async => true, :src => "https://www.googletagmanager.com/gtag/js?id=UA-117599014-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117599014-1');

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }
            %i.fas.fa-mountain
            ChIP-Atlas
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }= "Peak Browser"
            %li
              %a{ :href => "#{app_root}/target_genes" }= "Target Genes"
            %li
              %a{ :href => "#{app_root}/colo" }= "Colocalization"
            %li.active
              %a{ :href => "#{app_root}/enrichment_analysis" }= "Enrichment Analysis"
            %li
              %a{ href: "#{app_root}/diff_analysis" }
                Diff Analysis
            %li
              %a{ :href => "#{app_root}/publications" }= "Publications"
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }
                %i.fab.fa-github
                Docs
          %p.navbar-text.navbar-right
            %a{ href: "/search" }
              %i.fas.fa-search
              Advanced
          %form.navbar-form.navbar-right{ role: "search" }
            .form-group
              - id_example = ["GSM469863", "SRX018625"].sample(1)[0]
              %input.form-control#jumpToExperiment{ type: "text", value: "#{id_example}" }
            %button.btn.btn-default.go-experiment{ type: "submit", }= "Go"
          %p.navbar-text.navbar-right
            Find By ID

    .container
      .header
        %h1
          %i.fas.fa-mountain
          ChIP-Atlas: DMR
        %p= "Analyze your data with public ChIP-seq data."
      .container.job-info
        %p
          Result page URL will be available for a week from the time when 'status' is 'finished'.
        %table.table
          %tr
            %td
              Project title
            %td#project-title
          %tr
            %td
              Request ID
            %td#request-id
          %tr
            %td
              Submitted at:
            %td#submitted-at
          %tr
            %td
              Estimated finishing time:
            %td#estimated-finishing-time
          %tr
            %td
              Current time:
            %td#current-time
          %tr
            %td
              Status
            %td#status
              Requesting
          %tr
            %td
              View on IGV:
            %td
              %a#view-on-igv
          %tr
            %td
              Download Result:
            %td
              %a#download-result
        %p
          As this function uses the NIG supercomputer system, it may take time to start your job when the nodes are busy. Please check computation node status
          %a{ href: "https://sc.ddbj.nig.ac.jp/en/operation/", target: "_blank" }
            here
          (short.q)

    %footer.footer
      .container
        %row
          .col-md-4.col-md-offset-4
            %a{ href: "http://www.mic.med.kyoto-u.ac.jp/dddm_en/", target: "_blank" }
              %img{ src: "/images/logo/kyoto_uni_logo.png", width: 120 }
            %span.collaboration
              in collaboration with
            %a{ href: "https://dbcls.rois.ac.jp", target: "_blank" }
              %img{ src: "/images/logo/dbcls_logo.png", width: 100 }
        %row
          .col-md-6.col-md-offset-3
            %p.acknowledgement
              This work is supported by
              %a{ href: "https://sc.ddbj.nig.ac.jp/" }
                NIG Supercomputer system
              and
              %a{ href: "https://biosciencedbc.jp" }
                National Bioscience Database Center.
            %p
              Need help? Create an issue on
              %a{ href: "https://github.com/inutano/chip-atlas/issues" }
                github
              or
              %a{ href: "mailto:oki.shinya.3w@kyoto-u.ac.jp" }
                contact us
    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :src => "#{app_root}/js/pj/diff_analysis_result.js" }
    %script{ :crossorigin => "anonymous", :src => "https://kit.fontawesome.com/9c24e0099d.js" }
