- @page_title = "ChIP-Atlas: Diff Analysis"
- @page_description = "Compare ChIP-seq datasets to identify differential binding sites."
- @active_menu = 'diff_analysis'
- @additional_js = [
-   "#{app_root}/js/pj/diff_analysis.js"
- ]

.row
  .col-md-10
    .header
      %h1
        %i.fas.fa-mountain
        ChIP-Atlas: Diff Analysis
      %p
        Compare ChIP-seq datasets to identify differential binding sites
  .col-md-2
    .dropdown-help
      .dropdown
        .button.btn.btn-primary.dropdown-toggle{ type: "button", id: "movies-dropdown", "data-toggle": "dropdown", "aria-haspopup": true, "aria-expanded": true }
          %i.fas.fa-question-circle
          Tutorial
          %span.caret
        %ul.dropdown-menu{ "aria-labelledby": "movies-dropdown" }
          %li
            %a{ href: "https://chip-atlas.dbcls.jp/data/manual/Diff_Analysis/Diff_Analysis.pdf", target: "_blank" }="PDF"
          %li
            %a{ href: "https://youtu.be/diff_analysis_movie", target: "_blank" }= "Movie"

// Navigation Tabs, links and contents
.genomeTab{ role: "tabpanel"}
  // Tabs
  %ul.nav.nav-tabs{ role: "tablist" }
    - @list_of_genome.keys.each.with_index do |genome, i|
      %li{ role: "presentation", class: "#{(i == 0) ? 'active' : '' }", id: "#{genome}-tab" }
        %a{ href: "##{genome}-tab-content", "aria-controls": "#{genome}-tab-content", role: "tab", "data-toggle": "tab", source: genome }
          = "#{@list_of_genome[genome]}"

  // Contents
  .tab-content
    - @list_of_genome.keys.each.with_index do |genome, i|
      .tab-pane.fade{ role: "tabpanel", id: "#{genome}-tab-content", class: "#{(i == 0) ? 'in active' : ''}" }
        .row
          .col-md-4
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  1. Select First Dataset
              .panel-body
                %form
                  .panel-input
                    .form-group
                      %label{ for: "#{genome}Dataset1" } Dataset A
                      %textarea.form-control{ name: "dataset1", id: "#{genome}Dataset1", rows: 8, cols: 50, placeholder: "Enter BED format data or upload file" }
                    .form-group
                      %input{ type: "file", id: "#{genome}Dataset1File" }
                      %p.help-block Choose local file

          .col-md-4
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  2. Select Second Dataset
              .panel-body
                %form
                  .panel-input
                    .form-group
                      %label{ for: "#{genome}Dataset2" } Dataset B
                      %textarea.form-control{ name: "dataset2", id: "#{genome}Dataset2", rows: 8, cols: 50, placeholder: "Enter BED format data or upload file" }
                    .form-group
                      %input{ type: "file", id: "#{genome}Dataset2File" }
                      %p.help-block Choose local file

          .col-md-4
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  3. Analysis Parameters
              .panel-body
                .form-group
                  %label Analysis Title
                  %input.form-control{ type: "text", id: "#{genome}AnalysisTitle", placeholder: "Enter analysis title" }
                .form-group
                  %label Minimum Overlap (bp)
                  %select.form-control{ id: "#{genome}MinOverlap" }
                    %option{ value: "1" } 1 bp
                    %option{ value: "50", selected: true } 50 bp
                    %option{ value: "100" } 100 bp
                    %option{ value: "200" } 200 bp

                .button-submit
                  %button.btn.btn-primary.btn-lg.btn-block{ id: "#{genome}DiffSubmit", type: "button" }
                    Submit Analysis

        .row
          .col-md-12
            .panel.panel-default{ style: "margin-top: 20px;" }
              .panel-heading
                %h4.panel-title Analysis Instructions
              .panel-body
                %p
                  This tool compares two ChIP-seq datasets to identify differential binding sites.
                %ul
                  %li Upload BED format files containing peak coordinates
                  %li Set the minimum overlap threshold for peak comparison
                  %li Results will show peaks unique to each dataset and overlapping regions
                %p
                  %strong Note:
                  Analysis may take several minutes depending on dataset size.
