- @page_title = "ChIP-Atlas: Diff Analysis Result"
- @page_description = "Display the results of performed differential analysis."
- @active_menu = 'diff_analysis'
- @additional_js = [
-   "#{app_root}/js/pj/diff_analysis_result.js"
- ]

.row
  .col-md-12
    .header
      %h1
        %i.fas.fa-mountain
        ChIP-Atlas: Diff Analysis Result
      %p
        Analysis ID: #{@analysis_id}

.row
  .col-md-12
    - if @result_data
      .panel.panel-default
        .panel-heading
          %h3.panel-title Differential Analysis Results
        .panel-body
          .row
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %h4.panel-title Dataset A Only
                .panel-body
                  %p.lead= @result_data[:dataset_a_only][:count] || 0
                  %p Peaks unique to Dataset A
            .col-md-4
              .panel.panel-warning
                .panel-heading
                  %h4.panel-title Overlapping
                .panel-body
                  %p.lead= @result_data[:overlapping][:count] || 0
                  %p Peaks found in both datasets
            .col-md-4
              .panel.panel-success
                .panel-heading
                  %h4.panel-title Dataset B Only
                .panel-body
                  %p.lead= @result_data[:dataset_b_only][:count] || 0
                  %p Peaks unique to Dataset B

          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Chromosome
                  %th Start
                  %th End
                  %th Category
                  %th Score
              %tbody
                - if @result_data[:detailed_results]
                  - @result_data[:detailed_results].each do |result|
                    %tr
                      %td= result['chromosome']
                      %td= result['start']
                      %td= result['end']
                      %td= result['category']
                      %td= result['score']
    - else
      .alert.alert-warning
        %p No results found for this analysis.

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Download Results
      .panel-body
        %a.btn.btn-primary{ href: "/data/diff_analysis/#{@analysis_id}/result.bed" }
          %i.fas.fa-download
          Download BED
        %a.btn.btn-info{ href: "/data/diff_analysis/#{@analysis_id}/result.tsv" }
          %i.fas.fa-download
          Download TSV
        %a.btn.btn-secondary{ href: "/diff_analysis" }
          %i.fas.fa-arrow-left
          Back to Analysis
