!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %meta{ name: "description", content: "Detect differentially methylated regions (DMRs) between given Bisulfite-seq datasets." }
    %meta{ name: "author", content: "Shinya Oki, Tazro Ohta" }

    %title
      ChIP-Atlas: Diff Analysis

    // Bootstrap core and typeahead CSS
    %link{ href: "#{app_root}/css/bootstrap.min.css", rel: "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/fontawesome.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/brands.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/solid.css", :rel => "stylesheet"}

    // GA
    %script{ async: true, src: "https://www.googletagmanager.com/gtag/js?id=UA-117599014-1" }
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117599014-1');

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ type: "button", "data-toggle": "collapse", "data-target": "#navbar", "aria-expanded": "false", "aria-controls": "navbar" }
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: "#{app_root}" }
            %i.fas.fa-mountain
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }
                %i.fas.fa-glasses
                Peak Browser
            %li
              %a{ :href => "#{app_root}/enrichment_analysis" }
                %i.fas.fa-hand-holding-heart
                Enrichment Analysis
            %li.active
              %a{ href: "#{app_root}/diff_analysis" }
                %i.fas.fa-balance-scale-left
                Diff Analysis
            %li
              %a{ :href => "#{app_root}/target_genes" }
                %i.fas.fa-bullseye
                Target Genes
            %li
              %a{ :href => "#{app_root}/colo" }
                %i.fas.fa-compress-arrows-alt
                Colocalization
            %li
              %a{ :href => "#{app_root}/publications" }
                %i.fas.fa-book
                Publications
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }
                %i.fab.fa-github
                Docs
          %p.navbar-text.navbar-right
            %a{ href: "/search" }
              %i.fas.fa-search
              Search
          %form.navbar-form.navbar-right{ role: "search" }
            .form-group
              - id_example = ["GSM469863", "SRX018625"].sample(1)[0]
              %input.form-control#jumpToExperiment{ type: "text", value: "#{id_example}" }
            %button.btn.btn-default.go-experiment{ type: "submit", }= "Go"
          %p.navbar-text.navbar-right
            Find By ID

    .container
      .row
        .col-md-10
          .header
            %h1
              %i.fas.fa-mountain
              ChIP-Atlas: Diff Analysis
            %p
              Detect differential peaks or differentially methylated regions
        .col-md-2
          -# .dropdown-help
          -#   .dropdown
          -#     .button.btn.btn-default.dropdown-toggle{ type: "button", id: "movies-dropdown", "data-toggle": "dropdown", "aria-haspopup": true, "aria-expanded": true }
          -#       Tutorial movie
          -#       %span.caret
          -#     %ul.dropdown-menu{ "aria-labelledby": "movies-dropdown" }
          -#       %li
          -#         %a{ href: "", target: "_blank" }
          -#           How to use

      // Navigation Tabs, links and contents
      .genomeTab{ role: "tabpanel"}

        // Tabs
        %ul.nav.nav-tabs{ role: "tablist" }
          - @list_of_genome.keys.each.with_index do |genome, i|
            %li{ role: "presentation", class: "#{(i == 0) ? 'active' : '' }", id: "#{genome}-tab" }
              %a{ href: "##{genome}-tab-content", "aria-controls": "#{genome}-tab-content", role: "tab", "data-toggle": "tab", "source": genome }
                = "#{@list_of_genome[genome]}"

        // Contents
        .tab-content
          - @list_of_genome.keys.each.with_index do |genome, i|
            .tab-pane.fade{ role: "tabpanel", id: "#{genome}-tab-content", class: "#{(i == 0) ? 'in active' : ''}" }
              - index = @index_all_genome[genome]
              .row
                .col-md-3
                  .panel.panel-default
                    .panel-heading{ id: "#{genome}DataSetA" }
                      %h4.panel-title
                        1. Choose experiment type
                    .panel-body
                      %form
                        .checkbox.panel-input
                          %label
                            %input{ type: "radio", id: "#{genome}ExpTypeDiff", name: "diffOrDMR", value: "diff", checked: "checked" }
                            ChIP/ATAC/DNase-seq
                        .checkbox.panel-input
                          %label
                            %input{ type: "radio", id: "#{genome}ExpTypeDMR", name: "diffOrDMR", value: "DMR" }
                            Bisulfite-Seq

                .col-md-3
                  .panel.panel-default
                    .panel-heading{ id: "#{genome}DataSetA" }
                      %h4.panel-title
                        2. Enter dataset A
                    .panel-body
                      %form
                        .checkbox.panel-input
                          Experiment IDs
                        .panel-input.dataSetA
                          .form-group.panel-input-textarea
                            %textarea.form-control{ name: "dataSetA", id: "#{genome}DataSetA", rows: 8, cols: 50, placeholder: "SRX or GSM ID(s)" }
                            .row
                              .col-md-5
                              .col-md-7
                                %a.dataExample{ href: "#", id: "#{genome}dataSetA", name: "dataSetA"  }
                                  Try with example

                .col-md-3
                  .panel.panel-default
                    .panel-heading{ id: "#{genome}DataSetB" }
                      %h4.panel-title
                        3. Enter dataset B
                    .panel-body
                      %form
                        .checkbox.panel-input
                          Experiment IDs
                        .panel-input.dataSetB
                          .form-group.panel-input-textarea
                            %textarea.form-control{ name: "dataSetB", id: "#{genome}DataSetB", rows: 8, cols: 50, placeholder: "SRX or GSM ID(s)" }
                            .row
                              .col-md-5
                              .col-md-7
                                %a.dataExample{ href: "#", id: "#{genome}dataSetB", name: "dataSetB" }
                                  Try with example

                .col-md-3
                  .panel.panel-default
                    - panel = "#{genome}Desc"
                    .panel-heading{ id: panel }
                      %h4.panel-title
                        4. Analysis description
                    .panel-body
                      .panel-input.desc.form-inline
                        %p.form-control-static
                          Analysis title
                          %a.infoBtn{ value: "info", id: "#{genome}ProjectDesc" }
                            &#x24D8;
                        %input.form-control{ type: "text", id: "#{genome}ProjectTitle"}
                      .panel-input.desc.form-inline
                        %p.form-control-static
                          Dataset A title
                          %a.infoBtn{ value: "info", id: "#{genome}DataSetADesc" }
                            &#x24D8;
                        %input.form-control{ type: "text", id: "#{genome}DataSetATitle"}
                      .panel-input.desc.form-inline
                        %p.form-control-static
                          Dataset B title
                          %a.infoBtn{ value: "info", id: "#{genome}DataSetBDesc" }
                            &#x24D8;
                        %input.form-control{ type: "text", id: "#{genome}DataSetBTitle"}

                      .button-submit
                        %button.btn.btn-primary.btn-lg.btn-block{ id: "dmr-submit", type: "button" }
                          submit
                      .estimated-run-time
                        Estimated run time:
                        %a{ id: "#{genome}-estimated-run-time" }
                          \-
                      %p
                        %a{ href: "https://sc.ddbj.nig.ac.jp/en/operation/", target: "_blank" }
                          node status (epyc.q)



    != haml :footer

    /
      Bootstrap Core Javascript
      =========================
    %script{ src: "#{app_root}/js/jquery.min.js" }
    %script{ src: "#{app_root}/js/bootstrap.min.js" }
    %script{ src: "#{app_root}/js/pj/pj.js" }
    %script{ type: "application/json", id: "ea_params" }
      :plain
        {
          "genes": "#{@genes}",
          "taxonomy": "#{@taxonomy}",
          "genesetA": "#{@genesetA}",
          "genesetB": "#{@genesetB}"
        }
    %script{ src: "#{app_root}/js/pj/diff_analysis.js" }
