!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "A web interface to support browsing public ChIP-Seq data via IGV." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas"

    // Bootstrap core and typeahead CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "#{app_root}/css/typeaheadjs.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

    // GA
    %script{:async => true, :src => "https://www.googletagmanager.com/gtag/js?id=UA-117599014-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117599014-1');

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }= "ChIP-Atlas"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }= "Peak Browser"
            %li
              %a{ :href => "#{app_root}/target_genes" }= "Target Genes"
            %li
              %a{ :href => "#{app_root}/colo" }= "Colocalization"
            %li.active
              %a{ :href => "#{app_root}/enrichment_analysis" }= "Enrichment Analysis"
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }= "Documentation"
            %li
              %a{ :href => "#{app_root}/publications" }= "Publications"
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{ "data-toggle" => "dropdown", role: "button", "aria-haspopup" => true, "aria-expanded" => false }
                Find an experiment
                %span.caret
              %ul.dropdown-menu{ style: "padding:12px;" }
                %li
                  %form.form-inline
                    .form-group
                      %input.form-control#jumpToExperiment{ type: "text", value: "SRX018625", "aria-describedby" => "exp-help" }
                    %button.btn.btn-default.go-experiment{ type: 'submit' }
                      Go
                    %p.help-block#exp-help
                      Enter an SRA experimental ID beginning with SRX, DRX, or ERX.
                      %a{ href: "http://dbarchive.biosciencedbc.jp/kyushu-u/metadata/refineSearchList.html" }
                        Keyword search

    .container
      .row
        .col-md-10
          .header
            %h1
              ChIP-Atlas - Enrichment Analysis
            %p= "Analyze your data with public ChIP-seq data."
        .col-md-2
          .dropdown-help
            .dropdown
              .button.btn.btn-default.dropdown-toggle{ :type => "button", :id => "movies-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                Tutorial movie
                %span.caret
              %ul.dropdown-menu{ "aria-labelledby" => "movies-dropdown" }
                %li
                  %a{ :href => "https://youtu.be/JBOB2PX5_-0", :target => "_blank" }= "How to use"
                %li
                  %a{ :href => "http://doi.org/10.7875/togotv.2019.005", :target => "_blank" }= "How to use (統合TV, Japanese)"

      // Navigation Tabs, links and contents
      .genomeTab{ :role => "tabpanel"}

        // Tabs
        %ul.nav.nav-tabs{ :role => "tablist" }
          - @list_of_genome.each.with_index do |genome, i|
            %li{ :role => "presentation", :class => "#{(i == 0) ? 'active' : '' }", :id => "#{genome}-tab" }
              %a{ :href => "##{genome}-tab-content", "aria-controls" => "#{genome}-tab-content", :role => "tab", "data-toggle" => "tab", "source" => genome }
                - genome_sp = { "hg19" => "H. sapiens", "mm9" => "M. musculus", "rn6" => "R. norvegicus", "dm3" => "D. melanogaster", "ce10" => "C. elegans", "sacCer3" => "S. cerevisiae"}
                = "#{genome_sp[genome]}"

        // Contents
        .tab-content
          - @list_of_genome.each.with_index do |genome, i|
            .tab-pane.fade{ :role => "tabpanel", :id => "#{genome}-tab-content", :class => "#{(i == 0) ? 'in active' : ''}" }
              - index = @index_all_genome[genome]
              .row
                - [["ag","Antigen"],["cl", "Cell type"]].each.with_index do |set, i|
                  .col-md-4
                    %form
                      .panel.panel-default
                        - class_id = "#{genome}#{set[0]}Class"
                        .panel-heading{ :id => "heading-#{class_id}" }
                          %h4.panel-title= "#{i+1}. #{set[1]} Class"
                        .panel-body
                          %select.form-control{ :id => "#{class_id}", :size => 8 }
                            - ind = index[set[1].downcase.sub("\s","").intern]
                            - count = ind.values.map{|n| n.values }.flatten.reduce(:+)
                            %option{ :value => "All #{set[1].downcase}s", "selected" => true }= "All #{set[1].downcase}s (#{count})"

                            = specials = ["Input control","Others","Unclassified","No description"]
                            - nodes = ind.to_a.sort
                            - nodes_normal = nodes.reject{|a| specials.include?(a[0]) }
                            - nodes_special = specials.map{|special| nodes.select{|n| n[0] == special }[0] }.compact
                            - collection = nodes_normal + nodes_special

                            - collection.each do |node|
                              - typeClass = node[0]
                              - typeSubClass = node[1]
                              %option{ :value => typeClass }= "#{typeClass} (#{typeSubClass.each_value.reduce(:+)})"

                .col-md-4
                  %form
                    .panel.panel-default
                      .panel-heading{ :id => "heading-#{genome}qval"}
                        %h4.panel-title
                          3. Threshold for Significance
                          %a.infoBtn{ :value => "info", :id => "#{genome}Threshold" }
                            &#x24D8;
                      .panel-body
                        %select.form-control{ :id => "#{genome}qval", :size => 5 }
                          - @qval_range.sort.each.with_index do |qv, i|
                            %option{ :value => qv, "#{(i == 1) ? 'selected' : '' }" => "" }= "#{qv.to_i*10}"
              .row
                .col-md-4
                  .panel.panel-default
                    - panel = "#{genome}MyDataPanel"
                    .panel-heading{ :id => panel }
                      %h4.panel-title= "4. Select your data"
                    .panel-body
                      %form
                        .checkbox.panel-input
                          %label
                            %input{ :type => "radio", :id => "#{genome}UserDataBed", :name => "bedORGene", :value => "bed", :checked => "checked" }
                            Genomic regions (BED) or sequence motif
                            %a.infoBtn{ :value => "info", :id => "#{genome}UserDataBed" }
                              &#x24D8;
                        .checkbox.panel-input
                          %label
                            %input{ :type => "radio", :id => "#{genome}UserDataGenes", :name => "bedORGene", :value => "gene" }
                            Gene list (Gene symbols)
                            %a.infoBtn{ :id => "#{genome}UserDataGenes" }
                              &#x24D8;
                        .panel-input.bed-input.userData
                          .form-group.panel-input-textarea
                            %textarea.form-control{ :name => "txtA", :id => "#{genome}UserData", :rows => 8, :cols => 50, :placeholder => "Click info buttons above to show the description format."}
                          %row
                            .col-md-6
                              .form-group
                                %input{ :type => "file", :id => "#{genome}UserDataFile" }
                                %p.help-block
                                  Choose local file
                            .col-md-5.col-md-offset-1
                              .linkExample
                                %a.dataExample{ href: "#", id: "#{genome}UserData" }
                                  Try with example


                .col-md-4
                  .panel.panel-default
                    - panel = "#{genome}TargetDB"
                    .panel-heading{ :id => panel }
                      %h4.panel-title= "5. Select dataset to be compared"
                    .panel-body
                      %form
                        .checkbox.panel-input.bed
                          %label
                            %input{ :type => "radio", :id => "#{genome}ComparedWithRandom", :name => "comparedWith", :value => "rnd", :checked => "checked" }
                            Random permutation of user data
                            %a.infoBtn{ :id => "#{genome}ComparedWithRandom" }
                              &#x24D8;
                          .checkbox.form-inline.panel-input.rnd
                            %p.help-block.ptimes{ :for => "permutationTimes"}
                              Permutation times
                              %input.form-control{ :type => "radio", :id => "#{genome}ComparedWithRandomx1", :name => "numShuf", :value => "1", :checked => "checked" }
                              x1
                              %input.form-control{ :type => "radio", :id => "#{genome}ComparedWithRandomx10", :name => "numShuf", :value => "10"}
                              x10
                              %input.form-control{ :type => "radio", :id => "#{genome}ComparedWithRandomx100", :name => "numShuf", :value => "100"}
                              x100
                        .checkbox.panel-input.bed
                          %label
                            %input{ :type => "radio", :id => "#{genome}ComparedWithBed", :name => "comparedWith", :value => "bed" }
                            BED or sequence motif
                            %a.infoBtn{ :id => "#{genome}ComparedWithBed" }
                              &#x24D8;
                      %form
                        .checkbox.panel-input.gene.default-hide
                          %label
                            %input{ :type => "radio", :id => "#{genome}ComparedWithRefseq", :name => "comparedWith", :value => "refseq" }
                            Refseq coding genes (excluding user data)
                            %a.infoBtn{ :id => "#{genome}ComparedWithRefseq" }
                              &#x24D8;
                        .checkbox.panel-input.gene.default-hide
                          %label
                            %input{ :type => "radio", :id => "#{genome}ComparedWithUserlist", :name => "comparedWith", :value => "userlist" }
                            Gene list (Gene symbols)
                            %a.infoBtn{ :id => "#{genome}ComparedWithUserlist" }
                              &#x24D8;
                      .panel-input.bed-input.comparedWith.default-hide
                        .form-group.panel-input-textarea
                          %textarea.form-control{ :name => "txtB", :id => "#{genome}ComparedWith", :rows => 8, :cols => 50, :placeholder => "Click info buttons above to show the description format.", :value => nil }
                        %row
                          .col-md-6
                            .form-group
                              %input{ :type => "file", :id => "#{genome}ComparedWithFile", :name => "fsel" }
                              %p.help-block
                                Choose local file
                          .col-md-5.col-md-offset-1
                            .linkExample
                              %a.dataExample{ href: "#", id: "#{genome}ComparedWith" }
                                Try with example

                .col-md-4
                  .panel.panel-default
                    - panel = "#{genome}Desc"
                    .panel-heading{ :id => panel }
                      %h4.panel-title= "6. Describe datasets"
                    .panel-body
                      .panel-input.desc.form-inline
                        %p.form-control-static
                          User data title
                          %a.infoBtn{ :value => "info", :id => "#{genome}UserDataDesc" }
                            &#x24D8;
                        %input.form-control{ :type => "text", :id => "#{genome}UserDataTitle"}
                      .panel-input.desc.form-inline
                        %p.form-control-static
                          Compared data title
                          %a.infoBtn{ :value => "info", :id => "#{genome}ComparedWithDesc" }
                            &#x24D8;
                        %input.form-control{ :type => "text", :id => "#{genome}ComparedWithTitle"}
                      .panel-input.desc.form-inline
                        %p.form-control-static
                          Project title
                          %a.infoBtn{ :value => "info", :id => "#{genome}ProjectDesc" }
                            &#x24D8;
                        %input.form-control{ :type => "text", :id => "#{genome}ProjectTitle"}
                      .panel-input.distTSS.form-group.default-hide
                        %p.form-control-static
                          Distance range from TSS
                          %a.infoBtn{ :value => "info", :id => "#{genome}DistTSS" }
                            &#x24D8;
                        .form-inline
                          \-
                          %input.form-control{ :type => "text", :id => "#{genome}DistanceUp", :value => "0", :size => 1 }
                          bp &#x2266; TSS &#x2266; +
                          %input.form-control{ :type => "text", :id => "#{genome}DistanceDown", :value => "0", :size => 1 }
                          bp

                      .button-submit
                        %button.btn.btn-primary.btn-lg.btn-block{ :id => "virtual-chip-submit", :type => "button" }= "submit"
                      .estimated-run-time
                        Estimated run time:
                        %a{ :id => "#{genome}-estimated-run-time" }= "-"


    %footer.footer
      .container
        %row
          .col-md-4.col-md-offset-4
            %a{ href: "http://www.dev.med.kyushu-u.ac.jp", target: "_blank" }
              %img{ src: "/images/logo/ku_logo.jpg", width: 120 }
            %span.collaboration
              in collaboration with
            %a{ href: "http://dbcls.rois.ac.jp", target: "_blank" }
              %img{ src: "/images/logo/dbcls_logo.png", width: 100 }
        %row
          .col-md-6.col-md-offset-3
            %p.acknowledgement
              This work is supported by
              %a{ href: "http://sc.ddbj.nig.ac.jp/" }
                NIG Supercomputer system
              and
              %a{ href: "http://biosciencedbc.jp" }
                National Bioscience Database Center.
            %p
              Need help? Create an issue on
              %a{ href: "https://github.com/inutano/chip-atlas/issues" }
                github
              or
              %a{ href: "mailto:soki@dev.med.kyushu-u.ac.jp" }
                contact us
    /
      Bootstrap Core Javascript
      =========================
    %link{ :href => "#{app_root}/css/flexselect.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ :src => "#{app_root}/js/liquidmetal.js" }
    %script{ :src => "#{app_root}/js/jquery.flexselect.js" }
    %script{ :src => "#{app_root}/js/typeahead.bundle.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :type => "application/json", :id => "ea_params" }
      :plain
        {
          "genes": "#{@genes}",
          "taxonomy": "#{@taxonomy}"
        }
    %script{ :src => "#{app_root}/js/pj/enrichment_analysis.js" }
