!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "Display the results of performed enrichment analysis." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas: Enrichment Analysis Result"

    // Bootstrap core and typeahead CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/fontawesome.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/brands.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/solid.css", :rel => "stylesheet"}

  %body
    - @active_menu = 'enrichment_analysis'
    != haml :_navigation

    .container
      .header
        %h1
          %i.fas.fa-mountain
          ChIP-Atlas: Enrichment Analysis
        %p
          identify common epigenetic features of a given set of genomic loci and genes
      .container.job-info
        %p
          Result page URL will be available for a week from the time when 'status' is 'finished'.
        %table.table
          %tr
            %td
              Project title
            %td#project-title
          %tr
            %td
              Request ID
            %td#request-id
          %tr
            %td
              Submitted at:
            %td#submitted-at
          %tr
            %td
              Estimated finishing time:
            %td#estimated-finishing-time
          %tr
            %td
              Current time:
            %td#current-time
          %tr
            %td
              Status
            %td#status
              Requesting
          %tr
            %td
              Result URL:
            %td
              %a#result-url
          %tr
            %td
              Download TSV:
            %td
              %a#download-tsv

        .container#executionLog
        %hr

        %p
          As this function uses the NIG supercomputer system, it may take time to start your job when the nodes are busy. Please check computation node status
          %a{ href: "https://sc.ddbj.nig.ac.jp/en/operation/job_queue_status/", target: "_blank" }
            here
          (short.q)

    != haml :footer

    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :src => "#{app_root}/js/pj/enrichment_analysis_result.js" }
