- @page_title = "ChIP-Atlas: Enrichment Analysis Result"
- @page_description = "Display the results of performed enrichment analysis."
- @active_menu = 'enrichment_analysis'
- @additional_js = [
-   "#{app_root}/js/pj/enrichment_analysis_result.js"
- ]

.row
  .col-md-12
    .header
      %h1
        %i.fas.fa-mountain
        ChIP-Atlas: Enrichment Analysis Result
      %p
        Analysis ID: #{@analysis_id}

.row
  .col-md-12
    - if @result_data
      .panel.panel-default
        .panel-heading
          %h3.panel-title Analysis Results
        .panel-body
          .table-responsive
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Rank
                  %th Antigen
                  %th Cell Type
                  %th Overlap
                  %th P-value
                  %th Q-value
                  %th Fold Enrichment
              %tbody
                - @result_data.each_with_index do |result, index|
                  %tr
                    %td= index + 1
                    %td= result['antigen']
                    %td= result['celltype']
                    %td= result['overlap']
                    %td= result['pvalue']
                    %td= result['qvalue']
                    %td= result['fold_enrichment']
    - else
      .alert.alert-warning
        %p No results found for this analysis.

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Download Results
      .panel-body
        %a.btn.btn-primary{ href: "/data/enrichment_analysis/#{@analysis_id}/result.tsv" }
          %i.fas.fa-download
          Download TSV
        %a.btn.btn-secondary{ href: "/enrichment_analysis" }
          %i.fas.fa-arrow-left
          Back to Analysis
