!!! 5
%html{ :lang => "ja" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "A web interface to support browsing public ChIP-Seq data via IGV." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas - details for #{@expid}"

    / Bootstrap core CSS
    %link{ :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet" }

    / Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

    // GA
    %script{:async => true, :src => "https://www.googletagmanager.com/gtag/js?id=UA-117599014-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117599014-1');

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }= "ChIP-Atlas"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }= "Peak Browser"
            %li
              %a{ :href => "#{app_root}/target_genes" }= "Target Genes"
            %li
              %a{ :href => "#{app_root}/colo" }= "Colocalization"
            %li
              %a{ :href => "#{app_root}/enrichment_analysis" }= "Enrichment Analysis"
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }= "Documentation"
            %li
              %a{ :href => "#{app_root}/publications" }= "Publications"
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{ "data-toggle" => "dropdown", role: "button", "aria-haspopup" => true, "aria-expanded" => false }
                Find an experiment
                %span.caret
              %ul.dropdown-menu{ style: "padding:12px;" }
                %li
                  %form.form-inline
                    .form-group
                      %input.form-control#jumpToExperiment{ type: "text", value: "SRX018625", "aria-describedby" => "exp-help" }
                    %button.btn.btn-default.go-experiment{ type: 'submit' }
                      Go
                    %p.help-block#exp-help
                      Enter an SRA experimental ID beginning with SRX, DRX, or ERX.
                      %a{ href: "http://dbarchive.biosciencedbc.jp/kyushu-u/metadata/refineSearchList.html" }
                        Keyword search

    - records = PJ::Experiment.record_by_expid(@expid)
    - metadata = records[0]
    .container
      .row
        .col-md-10
          .page-header
            %h2
              = @expid
              .small
                = metadata[:title] != "-" ? metadata[:title] : "no title"
      .row.linkout
        .col-md-10
          - antigen = URI.escape(metadata[:agSubClass])
          - celltype = URI.escape(metadata[:clSubClass])

          %h3
            LinkOut
          .btn-toolbar{ role: "toolbar" }
            .btn-group{ role: "group" }
              .dropdown
                .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "linkout-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                  SRA Experiment
                  %span.caret
                %ul.dropdown-menu{ "aria-labelledby" => "linkout-dropdown" }
                  %li
                    %a{ :href => "http://sra.dbcls.jp/details.html?db=sra&accession=#{@expid}" }= "DBCLS SRA"
                  %li
                    %a{ :href => "https://www.ncbi.nlm.nih.gov/sra/?term=#{@expid}" }= "NCBI SRA"
            .btn-group{ role: "group" }
              .dropdown
                .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "linkout-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                  = 'Antigen: ' + antigen
                  %span.caret
                %ul.dropdown-menu{ "aria-labelledby" => "linkout-dropdown" }
                  %li
                    %a{ :href => "https://www.wikigenes.org/?search=#{antigen}" }= "wikigenes"
                  %li
                    %a{ :href => "http://pdbj.org/mine/search?query=#{antigen}" }= "PDBj"
            .btn-group{ role: "group" }
              .dropdown
                .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "linkout-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                  = 'CellType: ' + "#{metadata[:clSubClass]}"
                  %span.caret
                %ul.dropdown-menu{ "aria-labelledby" => "linkout-dropdown" }
                  %li
                    %a{ :href => "http://www.atcc.org/Search_Results.aspx?searchTerms=#{celltype}" }= "ATCC"
                  %li
                    %a{ :href => "https://www.ncbi.nlm.nih.gov/mesh/?term=#{celltype}" }= "MeSH"
                  %li
                    %a{ :href => "http://www2.brc.riken.jp/lab/cell/list.cgi?skey=#{celltype}" }= "RIKEN BRC"

      .row.buttonviewdata
        - records.each do |record|
          .col-md-10
            - igv_base = "http://localhost:60151/load?file="
            - nbdc_base = "http://dbarchive.biosciencedbc.jp/kyushu-u"
            - expid = @expid
            - genome = record[:genome]
            - antigen = URI.escape(record[:agSubClass])
            - celltype = URI.escape(record[:clSubClass])
            - fname = URI.escape("#{record[:agSubClass]} (@ #{record[:clSubClass]}) #{expid}")
            - dfname = "#{genome}_#{antigen}_#{celltype}_#{expid}"

            %h3= "For assembly: " + genome
            .btn-toolbar{ role: "toolbar" }
              .btn-group{ role: "group" }
                .dropdown
                  .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "igv-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                    View on IGV
                    %span.caret
                  %ul.dropdown-menu{ "aria-labelledby" => "igv-dropdown" }
                    %li
                      %a.link-igv{ name: "bigwig" }= "BigWig"
                    %li
                      %a.link-igv{ name: "bed", value: "05" }= "Peak-call (q < 1E-05)"
                    %li
                      %a.link-igv{ name: "bed", value: "10" }= "Peak-call (q < 1E-10)"
                    %li
                      %a.link-igv{ name: "bed", value: "20" }= "Peak-call (q < 1E-20)"
              .btn-group{ role: "group" }
                .dropdown
                  .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "analysis-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                    View Analysis
                    %span.caret
                  %ul.dropdown-menu#analysisLinkOut{ "aria-labelledby" => "analysis-dropdown", "class" => genome }
                    // li items with a linkout to analysis page goes here..
              .btn-group{ role: "group" }
                .dropdown
                  .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "download-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                    Download
                    %span.caret
                  %ul.dropdown-menu{ "aria-labelledby" => "download-dropdown" }
                    %li
                      %a{ :href => "#{nbdc_base}/#{genome}/eachData/bw/#{expid}.bw", :download => "#{dfname}.bw" }= "BigWig"
                    %li
                      %a{ :href => "#{nbdc_base}/#{genome}/eachData/bed05/#{expid}.05.bed", :download => "#{dfname}.05.bb" }= "Peak-call (q < 1E-05)"
                    %li
                      %a{ :href => "#{nbdc_base}/#{genome}/eachData/bed10/#{expid}.10.bed", :download => "#{dfname}.10.bb" }= "Peak-call (q < 1E-10)"
                    %li
                      %a{ :href => "#{nbdc_base}/#{genome}/eachData/bed20/#{expid}.20.bed", :download => "#{dfname}.20.bb" }= "Peak-call (q < 1E-20)"
            %a.infoBtn{ :value => "info", :id => "viewOnIGV" }
              Error connecting to IGV?
            %hr

      .row.mdata
        .col-md-12
          %h3= "Curated Sample Data"
          %hr
          %dl.dl-horizontal
            %dt{ style: 'white-space: normal;' }= "Antigen Class"
            %dd= metadata[:agClass]
            %dt{ style: 'white-space: normal;' }= "Antigen"
            %dd= metadata[:agSubClass]
            %dt{ style: 'white-space: normal;' }= "Cell type Class"
            %dd= metadata[:clClass]
            %dt{ style: 'white-space: normal;' }= "Cell type"
            %dd= metadata[:clSubClass]

      .row.mdata
        .col-md-12
          %h3= "Cell type information"
          %hr
          %dl.dl-horizontal
            - metadata[:clSubClassInfo].split("|").each do |kv|
              %dt{ style: 'white-space: normal;' }= kv.split("=").first
              %dd= kv.split("=").last

      .row.mdata
        .col-md-12
          %h3= "Attributes by Original Data Submitter"
          %hr
          %dl.dl-horizontal
            - metadata[:attributes].split("\t").each do |kv|
              %dt{ style: 'white-space: normal;' }= kv.split("=").first
              %dd= kv.split("=").last

      .row.mdata
        .col-md-12
          %h3= "Metadata from Sequence Read Archive"

          .mdata
            %h4= "Library Description"
            %hr
            %dl.dl-horizontal
              - if @ncbi[:library_description].values.uniq == [""]
                %span.italic
                  No library information was found.
              - @ncbi[:library_description].each_pair do |k,v|
                - if v != ""
                  %dt{ style: 'white-space: normal;' }= k.to_s
                  %dd= v.to_s

          .mdata
            %h4= "Platform Information"
            %hr
            %dl.dl-horizontal
              - if @ncbi[:platform_information].values.uniq == [""]
                %span.italic
                  No platform information was found.
              - @ncbi[:platform_information].each_pair do |k,v|
                - if v != ""
                  %dt{ style: 'white-space: normal;' }= k.to_s
                  %dd= v.to_s

      .row.mdata
        .col-md-12
          %h3= "External Database Query"
          %p
            %form.form-inline
              .form-group
                %label{ :for => 'queryAntigen' }
                  Query antigen
                %input.form-control{ :type => "text", :id => "queryAntigen", :value => "#{metadata[:agSubClass]}"}
              %button.btn.btn-primary.antigen{ :type => "submit", :id => "wikigenes" }= "WikiGenes"
              %button.btn.btn-primary.antigen{ :type => "submit", :id => "posmed" }= "PosMed"
              %button.btn.btn-primary.antigen{ :type => "submit", :id => "pdbj" }= "PDBj"

          %p
            %form.form-inline
              .form-group
                %label{ :for => 'queryCelltype' }
                  Query cell-type
                %input.form-control{ :type => "text", :id => "queryCelltype", :value => "#{metadata[:clSubClass]}"}
              %button.btn.btn-primary.celltype{ :type => "submit", :id => "atcc" }= "ATCC"
              %button.btn.btn-primary.celltype{ :type => "submit", :id => "mesh" }= "MeSH"
              %button.btn.btn-primary.celltype{ :type => "submit", :id => "rikenbrc" }= "RIKEN BRC"

      .row.mdata
        .col-md-12
          %h3
            Logs in
            %a{ :href => "https://github.com/inutano/chip-atlas/wiki#2-primary-processing" }
              read processing pipeline
          %hr
          - records.each do |record|
            - readinfo = record[:readInfo].split(',')
            %h4= record[:genome]
            %dl.dl-horizontal
              %dt{ style: 'white-space: normal;' }= "Number of total reads"
              %dd= readinfo[0]
              %dt{ style: 'white-space: normal;' }= "Reads aligned (%)"
              %dd= readinfo[1]
              %dt{ style: 'white-space: normal;' }= "Duplicates removed (%)"
              %dd= readinfo[2]
              %dt{ style: 'white-space: normal;' }= "Number of peaks"
              %dd= readinfo[3] + " (qval < 1E-05)"

      .row.mdata
        .col-md-12
          %h3
            Sequence Quality Data from
            %a{ :href => "http://sra.dbcls.jp" }
              DBCLS SRA
          .sequence_quality
            %hr
            .row

    %footer.footer
      .container
        %row
          .col-md-4.col-md-offset-4
            %a{ href: "http://www.mic.med.kyoto-u.ac.jp/dddm_en/", target: "_blank" }
              %img{ src: "/images/logo/kyoto_uni_logo.png", width: 120 }
            %span.collaboration
              in collaboration with
            %a{ href: "https://dbcls.rois.ac.jp", target: "_blank" }
              %img{ src: "/images/logo/dbcls_logo.png", width: 100 }
        %row
          .col-md-6.col-md-offset-3
            %p.acknowledgement
              This work is supported by
              %a{ href: "https://sc.ddbj.nig.ac.jp/" }
                NIG Supercomputer system
              and
              %a{ href: "https://biosciencedbc.jp" }
                National Bioscience Database Center.
            %p
              Need help? Create an issue on
              %a{ href: "https://github.com/inutano/chip-atlas/issues" }
                github
              or
              %a{ href: "mailto:oki.shinya.3w@kyoto-u.ac.jp" }
                contact us
    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ :src => "#{app_root}/js/liquidmetal.js" }
    %script{ :src => "#{app_root}/js/jquery.flexselect.js" }
    %script{ :src => "#{app_root}/js/typeahead.bundle.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :src => "#{app_root}/js/pj/experiment.js" }
