!!! 5
%html{ :lang => "ja" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "Experimental attributes and details of processing for #{@expid}" }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas: #{@expid}"

    / Bootstrap core CSS
    %link{ :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/fontawesome.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/brands.css", :rel => "stylesheet"}
    %link{ :href => "#{app_root}/css/solid.css", :rel => "stylesheet"}

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }
            %i.fas.fa-mountain
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }
                %i.fas.fa-glasses
                Peak Browser
            %li
              %a{ :href => "#{app_root}/enrichment_analysis" }
                %i.fas.fa-hand-holding-heart
                Enrichment Analysis
            %li
              %a{ href: "#{app_root}/diff_analysis" }
                %i.fas.fa-balance-scale-left
                Diff Analysis
            %li
              %a{ :href => "#{app_root}/target_genes" }
                %i.fas.fa-bullseye
                Target Genes
            %li
              %a{ :href => "#{app_root}/colo" }
                %i.fas.fa-compress-arrows-alt
                Colo
            %li
              %a{ :href => "#{app_root}/publications" }
                %i.fas.fa-book
                Publications
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }
                %i.fab.fa-github
                Docs
          %p.navbar-text.navbar-right
            %a{ href: "/search" }
              %i.fas.fa-search
              Search
          %form.navbar-form.navbar-right{ role: "search" }
            .form-group
              - id_example = ["GSM469863", "SRX018625"].sample(1)[0]
              %input.form-control#jumpToExperiment{ type: "text", value: "#{id_example}" }
            %button.btn.btn-default.go-experiment{ type: "submit", }= "Go"
          %p.navbar-text.navbar-right
            ID:

    - records = PJ::Experiment.record_by_expid(@expid)
    - metadata = records[0]
    .container
      .row
        .col-md-10.col-md-offset-1
          .page-header
            .btn-toolbar.pull-right{ role: "toolbar" }
              // View on IGV button
              .btn-group{ role: "group" }
                .button.btn.btn-success.dropdown-toggle{ type: "button", id: "view-igv-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true, "experiment" => metadata[:agClass] }
                  %i.fas.fa-eye
                  Visualize
                  %span.caret
                %ul.dropdown-menu{ "aria-labelledby" => "igv-dropdown" }
                  %li.dropdown-header{ role: "presentation" }
                    Install and launch IGV before selecting data to visualize
                  %li.divider
                  - igv_linkout_base = "http://localhost:60151/load?file=https://chip-atlas.dbcls.jp/data"
                  - records.each_with_index do |record, i|
                    - genome = record[:genome]
                    - fname = URI.encode_www_form_component("#{record[:agSubClass]} (@ #{record[:clSubClass]}) #{@expid}".gsub(", ","_"))

                    %li.dropdown-header{ role: "presentation" }= "For #{genome}"
                    - if metadata[:agClass] != 'Bisulfite-Seq'
                      %li
                        %a{ href: "#{igv_linkout_base}/#{genome}/eachData/bw/#{@expid}.bw&genome=#{genome}&name=#{fname}" }= "BigWig"
                      - ["05", "10", "20"].each do |dVal|
                        %li
                          %a{ href: "#{igv_linkout_base}/#{genome}/eachData/bb#{dVal}/#{@expid}.#{dVal}.bb&genome=#{genome}&name=#{fname}%20(1E-#{dVal})" }= "Peak-call (q < 1E-#{dVal})"
                      %li.divider
                    - else
                      %li
                        - fname = URI.encode_www_form_component("Methylation rate (@ #{record[:clSubClass]}) #{@expid}".gsub(", ","_"))

                        %a{ href: "#{igv_linkout_base}/#{genome}/eachData/bs/methyl/#{@expid}.methyl.bw&genome=#{genome}&name=#{fname}" }= "BigWig (Methylation rate)"
                      %li
                        - fname = URI.encode_www_form_component("Coverage rate (@ #{record[:clSubClass]}) #{@expid}".gsub(", ","_"))

                        %a{ href: "#{igv_linkout_base}/#{genome}/eachData/bs/cover/#{@expid}.cover.bw&genome=#{genome}&name=#{fname}" }= "BigWig (Coverage)"
                      %li
                        - fname = URI.encode_www_form_component("Hypo MR (@ #{record[:clSubClass]}) #{@expid}".gsub(", ","_"))

                        %a{ href: "#{igv_linkout_base}/#{genome}/eachData/bs/hmr/BigBed/#{@expid}.hmr.bb&genome=#{genome}&name=#{fname}" }= "Hypo MR"
                      %li
                        - fname = URI.encode_www_form_component("Partial MR (@ #{record[:clSubClass]}) #{@expid}".gsub(", ","_"))

                        %a{ href: "#{igv_linkout_base}/#{genome}/eachData/bs/pmd/BigBed/#{@expid}.pmd.bb&genome=#{genome}&name=#{fname}" }= "Partial MR"
                      %li
                        - fname = URI.encode_www_form_component("Hyper MR (@ #{record[:clSubClass]}) #{@expid}".gsub(", ","_"))

                        %a{ href: "#{igv_linkout_base}/#{genome}/eachData/bs/hypermr/BigBed/#{@expid}.hypermr.bb&genome=#{genome}&name=#{fname}" }= "Hyper MR"
                      %li.divider

                  %li.dropdown-header{ role: "presentation" }
                    %a.infoBtn{ :value => "info", :id => "viewOnIGV" }
                      Error connecting to IGV?

              // View Analysis button
              .btn-group{ role: "group" }
                .button.btn.btn-info.dropdown-toggle{ type: "button", id: "analyze-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true, "experiment" => metadata[:agClass] }
                  %i.fas.fa-chart-line
                  Analyze
                  %span.caret
                %ul.dropdown-menu{ "aria-labelledby" => "igv-dropdown" }
                  - nbdc_base = "https://chip-atlas.dbcls.jp/data"
                  - records.each_with_index do |record, i|
                    - genome = record[:genome]
                    %li.dropdown-header{ role: "presentation" }= "For #{genome}"
                    %li
                      %a{ href: "#{nbdc_base}/#{genome}/colo/#{@expid}.html" }= "Colocalization"
                    - ["1", "5", "10"].each do |thr|
                      %li
                        %a{ href: "#{nbdc_base}/#{genome}/target/#{@expid}.#{thr}.html" }= "Target Genes (TSS ± #{thr}kb)"
                    - if i != (records.size - 1)
                      %li.divider

              // Download button
              .btn-group{ role: "group" }
                .button.btn.btn-warning.dropdown-toggle{ :type => "button", :id => "download-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                  %i.fas.fa-download
                  Download
                  %span.caret
                %ul.dropdown-menu{ "aria-labelledby" => "download-dropdown" }
                  - nbdc_base = "https://chip-atlas.dbcls.jp/data"
                  - records.each_with_index do |record, i|
                    - genome = record[:genome]
                    - dfname = "#{genome}_#{URI.encode_www_form_component(record[:agSubClass])}_#{URI.encode_www_form_component(record[:clSubClass])}_#{@expid}"


                    %li.dropdown-header{ role: "presentation" }= "For #{genome}"
                    - if metadata[:agClass] != 'Bisulfite-Seq'
                      %li
                        %a{ :href => "#{nbdc_base}/#{genome}/eachData/bw/#{@expid}.bw", :download => "#{dfname}.bw" }= "BigWig"
                      - ["05", "10", "20"].each do |dVal|
                        %li
                          %a{ :href => "#{nbdc_base}/#{genome}/eachData/bed#{dVal}/#{@expid}.#{dVal}.bed", :download => "#{dfname}.#{dVal}.bb" }= "Peak-call (q < 1E-#{dVal})"
                    - else
                      %li
                        %a{ href: "#{nbdc_base}/#{genome}/eachData/bs/methyl/#{@expid}.methyl.bw" }= "BigWig (Methylation rate)"
                      %li
                        %a{ href: "#{nbdc_base}/#{genome}/eachData/bs/cover/#{@expid}.cover.bw" }= "BigWig (Coverage)"
                      %li
                        %a{ href: "#{nbdc_base}/#{genome}/eachData/bs/hmr/BigBed/#{@expid}.hmr.bb" }= "Hypo MR"
                      %li
                        %a{ href: "#{nbdc_base}/#{genome}/eachData/bs/pmd/BigBed/#{@expid}.pmd.bb" }= "Partial MR"
                      %li
                        %a{ href: "#{nbdc_base}/#{genome}/eachData/bs/hypermr/BigBed/#{@expid}.hypermr.bb" }= "Hyper MR"
                    - if i != (records.size - 1)
                      %li.divider


              // SRA linkout button
              .btn-group{ role: "group" }
                .button.btn.btn-default.dropdown-toggle{ :type => "button", :id => "linkout-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                  %i.fas.fa-external-link-alt
                  Link Out
                  %span.caret
                %ul.dropdown-menu{ "aria-labelledby" => "linkout-dropdown" }
                  - antigen = metadata[:agSubClass]
                  - celltype = metadata[:clSubClass]
                  %li.dropdown-header
                    Sequence Read Archive
                  %li
                    %a{ :href => "https://ddbj.nig.ac.jp/search/entry/sra-experiment/#{@expid}", target: "_blank" }= "DDBJ Search"
                  %li
                    %a{ :href => "https://www.ncbi.nlm.nih.gov/sra/?term=#{@expid}", target: "_blank" }= "NCBI SRA"
                  %li
                    %a{ :href => "https://www.ebi.ac.uk/ena/browser/view/#{@expid}", target: "_blank" }= "ENA"
                  %li.divider
                  %li.dropdown-header
                    = "Antigen: #{antigen}"
                  %li
                    %a{ :href => "https://www.wikigenes.org/?search=#{antigen}", target: "_blank" }= "wikigenes"
                  %li
                    %a{ :href => "http://pdbj.org/mine/search?query=#{antigen}", target: "_blank" }= "PDBj"
                  %li.divider
                  %li.dropdown-header
                    = "CellType: #{celltype}"
                  %li
                    %a{ :href => "http://www.atcc.org/Search_Results.aspx?searchTerms=#{celltype}", target: "_blank" }= "ATCC"
                  %li
                    %a{ :href => "https://www.ncbi.nlm.nih.gov/mesh/?term=#{celltype}", target: "_blank" }= "MeSH"
                  %li
                    %a{ :href => "http://www2.brc.riken.jp/lab/cell/list.cgi?skey=#{celltype}", target: "_blank" }= "RIKEN BRC"
                  - if metadata[:genome] == "hg19" || metadata[:genome] == "hg38"
                    %li.divider
                    %li.dropdown-header
                      Variation
                    %li
                      %a{ :href => "https://togovar.biosciencedbc.jp/?term=#{URI.encode_www_form_component(metadata[:agSubClass])}", target: "_blank" }= "TogoVar"


            %h1.page-header{ style: 'margin-top: 0; padding-bottom: 15px; border-bottom: 3px solid #337ab7; background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%); padding: 20px; border-radius: 8px 8px 0 0; margin-bottom: 30px;' }
              %i.fas.fa-file-alt{ style: 'color: #337ab7; margin-right: 15px; font-size: 1.2em;' }
              = @expid
              %br
              %small{ style: 'color: #666; font-weight: normal; font-size: 0.8em; margin-top: 5px; display: block;' }
                %i.fas.fa-info-circle{ style: 'margin-right: 5px;' }
                = metadata[:title] != "-" ? metadata[:title] : "No title provided"

      .row{ style: 'margin-bottom: 30px;' }
        .col-md-10.col-md-offset-1
          .panel.panel-default{ style: 'border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);' }
            .panel-heading{ style: 'background: linear-gradient(135deg, #5bc0de 0%, #31b0d5 100%); color: white; border-radius: 8px 8px 0 0;' }
              %h3.panel-title
                %i.fas.fa-dna{ style: 'margin-right: 8px;' }
                Sample Information Curated by ChIP-Atlas
            .panel-body.mdata{ style: 'padding: 25px;' }
              .row
                .col-md-6
                  %h4
                    %i.fas.fa-tag
                    Antigen Information
                  %dl.dl-horizontal
                    %dt{ style: 'white-space: normal; color: #337ab7;' }= "Antigen Class"
                    %dd
                      %span.label.label-primary= metadata[:agClass]
                    %dt{ style: 'white-space: normal; color: #337ab7;' }= "Antigen"
                    %dd
                      %strong= metadata[:agSubClass]
                .col-md-6
                  %h4
                    %i.fas.fa-microscope
                    Cell Type Information
                  %dl.dl-horizontal
                    %dt{ style: 'white-space: normal; color: #337ab7;' }= "Cell Type Class"
                    %dd
                      %span.label.label-info= metadata[:clClass]
                    %dt{ style: 'white-space: normal; color: #337ab7;' }= "Cell Type"
                    %dd
                      %strong= metadata[:clSubClass]
                    - metadata[:clSubClassInfo].split("|").each do |kv|
                      %dt{ style: 'white-space: normal; color: #666;' }= kv.split("=").first
                      %dd= kv.split("=").last

      .row{ style: 'margin-bottom: 30px;' }
        .col-md-10.col-md-offset-1
          .panel.panel-default{ style: 'border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);' }
            .panel-heading{ style: 'background: linear-gradient(135deg, #f0ad4e 0%, #ec971f 100%); color: white; border-radius: 8px 8px 0 0;' }
              %h3.panel-title
                %i.fas.fa-user-edit{ style: 'margin-right: 8px;' }
                Original Experimental Metadata
            .panel-body.mdata{ style: 'padding: 25px;' }
              .row
                .col-md-12
                  %h4
                    %i.fas.fa-flask
                    Sample Attributes
                  - if metadata[:attributes].strip.empty?
                    .alert.alert-info
                      %i.fas.fa-info-circle
                      No sample attributes were provided by the original submitter.
                  - else
                    %dl.dl-horizontal
                      - metadata[:attributes].split("\t").each do |kv|
                        %dt{ style: 'white-space: normal; color: #337ab7;' }= kv.split("=").first
                        %dd= kv.split("=").last

              %hr{ style: 'border-color: #e5e5e5; margin: 20px 0;' }

              .row
                .col-md-6
                  %h4
                    %i.fas.fa-book
                    Sequenced DNA Library
                  - if @ncbi[:library_description].values.uniq == [""]
                    .alert.alert-warning
                      %i.fas.fa-exclamation-triangle
                      No library information was found.
                  - else
                    %dl.dl-horizontal
                      - @ncbi[:library_description].each_pair do |k,v|
                        - if v != ""
                          %dt{ style: 'white-space: normal; color: #337ab7;' }= k.to_s
                          %dd= v.to_s

                .col-md-6
                  %h4
                    %i.fas.fa-server
                    Sequencing Platform
                  - if @ncbi[:platform_information].values.uniq == [""]
                    .alert.alert-warning
                      %i.fas.fa-exclamation-triangle
                      No platform information was found.
                  - else
                    %dl.dl-horizontal
                      - @ncbi[:platform_information].each_pair do |k,v|
                        - if v != ""
                          %dt{ style: 'white-space: normal; color: #337ab7;' }= k.to_s
                          %dd= v.to_s

      .row{ style: 'margin-bottom: 30px;' }
        .col-md-10.col-md-offset-1
          .panel.panel-default{ style: 'border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);' }
            .panel-heading{ style: 'background: linear-gradient(135deg, #5cb85c 0%, #449d44 100%); color: white; border-radius: 8px 8px 0 0;' }
              .pull-right
                %a.btn.btn-xs.btn-success{ href: "https://github.com/inutano/chip-atlas/wiki#user-content-tables-summarizing-metadata-and-files", target: "_blank", style: 'margin-top: 5px;' }
                  %i.fas.fa-external-link-alt
                  Processing Logs
              %h3.panel-title
                %i.fas.fa-cogs{ style: 'margin-right: 8px;' }
                %a{ :href => "https://github.com/inutano/chip-atlas/wiki#2-primary-processing", target: "_blank", style: 'color: white;' }
                  Read Processing Pipeline
            .panel-body.mdata{ style: 'padding: 25px;' }
              - records.each.with_index do |record,i|
                - readinfo = record[:readInfo].split(',')
                - genome = record[:genome]
                .processing-section{ 'data-genome' => genome }
                  %h4
                    %i.fas.fa-dna{ style: 'color: #5cb85c;' }
                    = "#{genome} Assembly Results"

                  .row
                    - if metadata[:agClass] != 'Bisulfite-Seq'
                      .col-md-3
                        .stat-box{ style: 'text-align: center; padding: 15px; background-color: #f9f9f9; border-radius: 4px; margin-bottom: 10px;' }
                          %h4.stat-number{ style: 'margin: 0; color: #337ab7; font-size: 24px;' }= readinfo[0]
                          %p.stat-label{ style: 'margin: 0; color: #666; font-size: 12px;' }= "Total Reads"
                      .col-md-3
                        .stat-box{ style: 'text-align: center; padding: 15px; background-color: #f9f9f9; border-radius: 4px; margin-bottom: 10px;' }
                          %h4.stat-number{ style: 'margin: 0; color: #5cb85c; font-size: 24px;' }= readinfo[1]
                          %p.stat-label{ style: 'margin: 0; color: #666; font-size: 12px;' }= "Aligned (%)"
                      .col-md-3
                        .stat-box{ style: 'text-align: center; padding: 15px; background-color: #f9f9f9; border-radius: 4px; margin-bottom: 10px;' }
                          %h4.stat-number{ style: 'margin: 0; color: #f0ad4e; font-size: 24px;' }= readinfo[2]
                          %p.stat-label{ style: 'margin: 0; color: #666; font-size: 12px;' }= "Duplicates Removed (%)"
                      .col-md-3
                        .stat-box{ style: 'text-align: center; padding: 15px; background-color: #f9f9f9; border-radius: 4px; margin-bottom: 10px;' }
                          %h4.stat-number{ style: 'margin: 0; color: #d9534f; font-size: 24px;' }= readinfo[3]
                          %p.stat-label{ style: 'margin: 0; color: #666; font-size: 12px;' }= "Peaks (q < 1E-05)"
                    - else
                      .col-md-3
                        .stat-box{ style: 'text-align: center; padding: 15px; background-color: #f9f9f9; border-radius: 4px; margin-bottom: 10px;' }
                          %h4.stat-number{ style: 'margin: 0; color: #337ab7; font-size: 24px;' }= readinfo[0]
                          %p.stat-label{ style: 'margin: 0; color: #666; font-size: 12px;' }= "Total Reads"
                      .col-md-3
                        .stat-box{ style: 'text-align: center; padding: 15px; background-color: #f9f9f9; border-radius: 4px; margin-bottom: 10px;' }
                          %h4.stat-number{ style: 'margin: 0; color: #5cb85c; font-size: 24px;' }= readinfo[1]
                          %p.stat-label{ style: 'margin: 0; color: #666; font-size: 12px;' }= "Aligned (%)"
                      .col-md-3
                        .stat-box{ style: 'text-align: center; padding: 15px; background-color: #f9f9f9; border-radius: 4px; margin-bottom: 10px;' }
                          %h4.stat-number{ style: 'margin: 0; color: #f0ad4e; font-size: 24px;' }= readinfo[2]
                          %p.stat-label{ style: 'margin: 0; color: #666; font-size: 12px;' }= "Coverage Rate (×)"
                      .col-md-3
                        .stat-box{ style: 'text-align: center; padding: 15px; background-color: #f9f9f9; border-radius: 4px; margin-bottom: 10px;' }
                          %h4.stat-number{ style: 'margin: 0; color: #d9534f; font-size: 24px;' }= readinfo[3]
                          %p.stat-label{ style: 'margin: 0; color: #666; font-size: 12px;' }= "Hyper MRs (q < 1E-05)"

                - if i != (records.size - 1)
                  %hr{ style: 'border-color: #e5e5e5; margin: 30px 0;' }

      .row{ style: 'margin-bottom: 30px;' }
        .col-md-10.col-md-offset-1
          #statistics-panel.panel.panel-default{ :style => "display: none; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);" }
            .panel-heading{ style: 'background: linear-gradient(135deg, #d9534f 0%, #c9302c 100%); color: white; border-radius: 8px 8px 0 0;' }
              %h3.panel-title
                %i.fas.fa-chart-bar{ style: 'margin-right: 8px;' }
                Data Quality and Distribution Statistics
            .panel-body.mdata{ style: 'padding: 25px;' }
              - records.each.with_index do |record,i|
                - genome = record[:genome]
                - agSubClass = record[:agSubClass].gsub(/[^a-zA-Z0-9_-]/, '_')
                - clSubClass = record[:clSubClass].gsub(/[^a-zA-Z0-9_-]/, '_')
                - base_url = "https://chip-atlas.dbcls.jp/data/#{genome}/quality"
                - distribution_url = "#{base_url}/distribution/#{@expid}.distribution.png"
                - correlation_png_url = "#{base_url}/correlation/png/#{@expid}.cor.png"
                - correlation_tsv_url = "#{base_url}/correlation/#{genome}__#{agSubClass}__#{clSubClass}.correlation.tsv"

                .statistics-section{ 'data-genome' => genome, 'data-distribution-url' => distribution_url, 'data-correlation-url' => correlation_png_url, 'data-correlation-tsv' => correlation_tsv_url, :style => "display: none;" }
                  %h2
                    .small= "#{genome} Statistics"

                  .row
                    .col-md-6
                      %h4
                        %i.fas.fa-chart-line
                        Reads vs Peaks Distribution
                      %p.text-muted
                        Distribution of correlation between sequence reads and called peaks across all experiments
                      .text-center.distribution-container
                        %img.img-responsive.center-block.distribution-img{
                          :src => distribution_url,
                          :alt => "Reads vs Peaks distribution for #{@expid}",
                          :style => "max-width: 100%; height: auto; border: 1px solid #ddd; border-radius: 4px; display: none;"
                        }
                        %div.loading-indicator{ :style => "padding: 20px; background-color: #f9f9f9; border-radius: 4px; color: #666;" }
                          %i.fas.fa-spinner.fa-spin
                          Checking for distribution data...

                    .col-md-6
                      %h4
                        %i.fas.fa-project-diagram
                        Experiment Clustering
                      %p.text-muted
                        Clustering result based on peak call similarity with related experiments
                      .text-center.correlation-container
                        %img.img-responsive.center-block.correlation-img{
                          :src => correlation_png_url,
                          :alt => "Clustering result for #{@expid}",
                          :style => "max-width: 100%; height: auto; border: 1px solid #ddd; border-radius: 4px; display: none;"
                        }
                        %div.loading-indicator{ :style => "padding: 20px; background-color: #f9f9f9; border-radius: 4px; color: #666;" }
                          %i.fas.fa-spinner.fa-spin
                          Checking for clustering data...

                      .text-center.download-container{ :style => "margin-top: 10px; display: none;" }
                        %a.btn.btn-sm.btn-default.download-tsv{
                          :href => "#",
                          "data-url" => correlation_tsv_url,
                          "data-filename" => "#{@expid}_#{genome}_correlation.tsv",
                          :title => "Download correlation data as TSV file"
                        }
                          %i.fas.fa-download
                          Download Correlation Data

                  .row.info-section{ :style => "display: none;" }
                    .col-md-12
                      %hr{ :style => "margin: 20px 0;" }
                      %h4
                        %i.fas.fa-info-circle
                        About These Statistics
                      %p.text-muted
                        %strong Distribution Plot:
                        Shows where this experiment falls within the overall distribution of read count vs peak count correlation across all experiments in the database.
                      %p.text-muted
                        %strong Clustering Analysis:
                        Groups experiments with similar peak calling patterns. This helps identify experiments with comparable biological or technical characteristics.

                  %hr.genome-separator{ :style => "display: none;" }

    != haml :footer

    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :src => "#{app_root}/js/pj/experiment.js" }
