- @page_title = "ChIP-Atlas: #{@expid}"
- @page_description = "Experimental attributes and details of processing for #{@expid}"
- @active_menu = nil
- @additional_css = []
- @additional_js = []

.row
  .col-md-12
    .header
      %h1
        %i.fas.fa-mountain
        ChIP-Atlas: Experiment #{@expid}
      %p
        Experimental details and processing information

.row
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h3.panel-title Experiment Information
      .panel-body
        - if @experiment
          %table.table.table-striped
            %tr
              %td
                %strong Experiment ID:
              %td= @experiment.id || @expid
            %tr
              %td
                %strong Title:
              %td= @experiment.title || "N/A"
            %tr
              %td
                %strong Organism:
              %td= @experiment.organism || "N/A"
            %tr
              %td
                %strong Cell Type:
              %td= @experiment.cell_type || "N/A"
            %tr
              %td
                %strong Antigen:
              %td= @experiment.antigen || "N/A"
            %tr
              %td
                %strong Treatment:
              %td= @experiment.treatment || "N/A"
            %tr
              %td
                %strong Experiment Type:
              %td= @experiment.experiment_type || "N/A"
        - else
          .alert.alert-warning
            %p No experiment data found for ID: #{@expid}

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Data Files
      .panel-body
        - if @experiment && @experiment.files
          %ul.list-group
            - @experiment.files.each do |file|
              %li.list-group-item
                %a{ href: file[:url], target: "_blank" }
                  %i.fas.fa-download
                  = file[:name]
                %br
                %small.text-muted= file[:description] if file[:description]
        - else
          %p No data files available.

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Processing Details
      .panel-body
        - if @processing_info
          %table.table.table-striped
            %tr
              %td
                %strong Processing Pipeline:
              %td= @processing_info[:pipeline] || "Standard ChIP-Atlas pipeline"
            %tr
              %td
                %strong Peak Calling:
              %td= @processing_info[:peak_calling] || "MACS2"
            %tr
              %td
                %strong Quality Score:
              %td= @processing_info[:quality_score] || "N/A"
            %tr
              %td
                %strong Number of Peaks:
              %td= @processing_info[:num_peaks] || "N/A"
        - else
          %p No processing information available.

.row
  .col-md-12
    .text-center
      %a.btn.btn-primary{ href: "/search" }
        %i.fas.fa-search
        Search More Experiments
      %a.btn.btn-secondary{ href: "/" }
        %i.fas.fa-home
        Back to Home
