!!! 5
%html{ :lang => "ja" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "A web interface to support browsing public ChIP-Seq data via IGV." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas - details for #{@expid}"

    / Bootstrap core CSS
    %link{ :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet" }

    / Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }= "ChIP-Atlas"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }= "Peak Browser"
            %li
              %a{ :href => "#{app_root}/target_genes" }= "Target Genes"
            %li
              %a{ :href => "#{app_root}/colo" }= "Colocalization"
            %li
              %a{ :href => "#{app_root}/in_silico_chip" }
                %span.italic
                  in silico
                ChIP
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }= "Documentation"

    .container
      - metadata = Experiment.record_by_expid(@expid)
      .row
        .col-md-10
          .page-header
            %h2
              = @expid
              .small
                = metadata[:title] != "-" ? metadata[:title] : "no title"
        .col-md-2
          - igv_base = "http://localhost:60151/load?file="
          - nbdc_base = "http://dbarchive.biosciencedbc.jp/kyushu-u"
          - expid = @expid
          - genome = metadata[:genome]
          - antigen = URI.escape(metadata[:agSubClass])
          - celltype = URI.escape(metadata[:clSubClass])
          - fname = URI.escape("#{metadata[:agSubClass]} (@ #{metadata[:clSubClass]}) #{expid}")
          .dropdown-link
            .dropdown
              .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "igv-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                View on IGV
                %span.caret
              %ul.dropdown-menu{ "aria-labelledby" => "igv-dropdown" }
                %li
                  %a{ :href => "#{igv_base}#{nbdc_base}/#{genome}/eachData/bw/#{expid}.bw&genome=#{genome}&name=#{fname}" }= "BigWig"
                %li
                  %a{ :href => "#{igv_base}#{nbdc_base}/#{genome}/eachData/bb05/#{expid}.05.bb&genome=#{genome}&name=#{fname}%20(1E-05)" }= "Peak-call (q < 1E-05)"
                %li
                  %a{ :href => "#{igv_base}#{nbdc_base}/#{genome}/eachData/bb10/#{expid}.10.bb&genome=#{genome}&name=#{fname}%20(1E-10)" }= "Peak-call (q < 1E-10)"
                %li
                  %a{ :href => "#{igv_base}#{nbdc_base}/#{genome}/eachData/bb20/#{expid}.20.bb&genome=#{genome}&name=#{fname}%20(1E-20)" }= "Peak-call (q < 1E-20)"
          .dropdown-link
            .dropdown
              .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "analysis-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                View Analysis
                %span.caret
              %ul.dropdown-menu{ "aria-labelledby" => "analysis-dropdown" }
                %li
                  %a{ :href => "#{nbdc_base}/#{genome}/colo/#{expid}.html" }= "Colocalization"
                %li
                  %a{ :href => "#{nbdc_base}/#{genome}/target/#{expid}.1.html" }= "Target Genes (TSS ± 1kb)"
                %li
                  %a{ :href => "#{nbdc_base}/#{genome}/target/#{expid}.5.html" }= "Target Genes (TSS ± 5kb)"
                %li
                  %a{ :href => "#{nbdc_base}/#{genome}/target/#{expid}.10.html" }= "Target Genes (TSS ± 10kb)"
          .dropdown-link
            .dropdown
              .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "download-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                Download
                %span.caret
              %ul.dropdown-menu{ "aria-labelledby" => "download-dropdown" }
                %li
                  %a{ :href => "#{nbdc_base}/#{genome}/eachData/bw/#{expid}.bw" }= "BigWig"
                %li
                  %a{ :href => "#{nbdc_base}/#{genome}/eachData/bed05/#{expid}.05.bed" }= "Peak-call (q < 1E-05)"
                %li
                  %a{ :href => "#{nbdc_base}/#{genome}/eachData/bed10/#{expid}.10.bed" }= "Peak-call (q < 1E-10)"
                %li
                  %a{ :href => "#{nbdc_base}/#{genome}/eachData/bed20/#{expid}.20.bed" }= "Peak-call (q < 1E-20)"
          .dropdown-link
            .dropdown
              .button.btn.btn-primary.btn-lg.dropdown-toggle{ :type => "button", :id => "linkout-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                Link Out
                %span.caret
              %ul.dropdown-menu{ "aria-labelledby" => "linkout-dropdown" }
                %li.dropdown-header
                  SRA Experiment
                %li
                  %a{ :href => "http://sra.dbcls.jp/search/search?search_query=#{@expid}" }= "DBCLS SRA"
                %li
                  %a{ :href => "http://www.ncbi.nlm.nih.gov/sra/?term=#{@expid}" }= "NCBI SRA"
                %li.dropdown-header
                  = 'Antigen: ' + antigen
                %li
                  %a{ :href => "https://www.wikigenes.org/?search=#{antigen}" }= "wikigenes"
                %li
                  %a{ :href => "http://omicspace.riken.jp/PosMed/search?actionType=searchexec&keyword=#{antigen}" }= "PosMed"
                %li
                  %a{ :href => "http://pdbj.org/mine/search?query=#{antigen}" }= "PDBj"
                %li.dropdown-header
                  = 'CellType: ' + "#{celltype}"
                %li
                  %a{ :href => "http://www.atcc.org/Search_Results.aspx?searchTerms=#{celltype}" }= "ATCC"
                %li
                  %a{ :href => "http://www.ncbi.nlm.nih.gov/mesh/?term=#{celltype}" }= "MeSH"
                %li
                  %a{ :href => "http://www2.brc.riken.jp/lab/cell/list.cgi?skey=#{celltype}" }= "RIKEN BRC"



      .row.mdata
        .col-md-12
          %h3= "Curated Sample Data"
          %hr
          %dl.dl-horizontal
            %dt{ style: 'white-space: normal;' }= "Genome"
            %dd= metadata[:genome]
            %dt{ style: 'white-space: normal;' }= "Antigen Class"
            %dd= metadata[:agClass]
            %dt{ style: 'white-space: normal;' }= "Antigen"
            %dd= metadata[:agSubClass]
            %dt{ style: 'white-space: normal;' }= "Cell type Class"
            %dd= metadata[:clClass]
            %dt{ style: 'white-space: normal;' }= "Cell type"
            %dd= metadata[:clSubClass]

      .row.mdata
        .col-md-12
          %h3= "Cell type information"
          %hr
          %dl.dl-horizontal
            - metadata[:clSubClassInfo].split("|").each do |kv|
              %dt{ style: 'white-space: normal;' }= kv.split("=").first
              %dd= kv.split("=").last

      .row.mdata
        .col-md-12
          %h3= "Attributes by Original Data Submitter"
          %hr
          %dl.dl-horizontal
            - metadata[:attributes].split("\t").each do |kv|
              %dt{ style: 'white-space: normal;' }= kv.split("=").first
              %dd= kv.split("=").last

      .row.mdata
        .col-md-12
          %h3= "Metadata from Sequence Read Archive"

          .mdata
            %h4= "Library Description"
            %hr
            %dl.dl-horizontal
              - @ncbi[:library_description].each_pair do |k,v|
                - if v != ""
                  %dt{ style: 'white-space: normal;' }= k.to_s
                  %dd= v.to_s

          .mdata
            %h4= "Platform Information"
            %hr
            %dl.dl-horizontal
              - @ncbi[:platform_information].each_pair do |k,v|
                - if v != ""
                  %dt{ style: 'white-space: normal;' }= k.to_s
                  %dd= v.to_s

      .row.mdata
        .col-md-12
          %h3= "External Database Query"
          %p
            %form.form-inline
              .form-group
                %label{ :for => 'queryAntigen' }
                  Query antigen
                %input.form-control{ :type => "text", :id => "queryAntigen", :value => "#{metadata[:agSubClass]}"}
              %button.btn.btn-primary.antigen{ :type => "submit", :id => "wikigenes" }= "WikiGenes"
              %button.btn.btn-primary.antigen{ :type => "submit", :id => "posmed" }= "PosMed"
              %button.btn.btn-primary.antigen{ :type => "submit", :id => "pdbj" }= "PDBj"

          %p
            %form.form-inline
              .form-group
                %label{ :for => 'queryCelltype' }
                  Query cell-type
                %input.form-control{ :type => "text", :id => "queryCelltype", :value => "#{metadata[:clSubClass]}"}
              %button.btn.btn-primary.celltype{ :type => "submit", :id => "atcc" }= "ATCC"
              %button.btn.btn-primary.celltype{ :type => "submit", :id => "mesh" }= "MeSH"
              %button.btn.btn-primary.celltype{ :type => "submit", :id => "rikenbrc" }= "RIKEN BRC"

      .row.mdata
        .col-md-12
          %h3
            Sequence Quality Data from
            %a{ :href => "http://sra.dbcls.jp" }
              DBCLS SRA
          - get_images_path(@expid).each_slice(3) do |items|
            %hr
            .row
              .col-md-3
                - entry = items[0]
                %h4= entry.split("/")[7]
                %a{ :href => entry }
                  %img{ :src => entry, :width => 350 }
              .col-md-3
                - if items[1]
                  - entry = items[1]
                  %h4= entry.split("/")[7]
                  %a{ :href => entry }
                    %img{ :src => entry }
              .col-md-3
                - if items[2]
                  - entry = items[2]
                  %h4= entry.split("/")[7]
                  %a{ :href => entry }
                    %img{ :src => entry }



    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" }
    %script{ :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" }
    %script{ :src => "http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js" }

    / 'code here'
    :javascript
      var dbNamespace = {
        wikigenes: "https://www.wikigenes.org/?search=",
        posmed: "http://omicspace.riken.jp/PosMed/search?actionType=searchexec&keyword=",
        pdbj: "http://pdbj.org/mine/search?query=",
        atcc: "http://www.atcc.org/Search_Results.aspx?searchTerms=",
        mesh: "http://www.ncbi.nlm.nih.gov/mesh/?term=",
        rikenbrc: "http://www2.brc.riken.jp/lab/cell/list.cgi?skey="
      };

      $('button').on('click', function(event){
        event.preventDefault();
        var namespace = dbNamespace[$(this).attr("id")];
        switch (true){
          case $(this).hasClass('antigen'):
            var id = $('input#queryAntigen').val().replace(/\s/,"+");
            var uri = namespace + id;
            break;
          case $(this).hasClass('celltype'):
            var id = $('input#queryCelltype').val().replace(/\s/,"+");
            var uri = namespace + id;
            break;
        };
        window.open(uri);
      });
