!!! 5
%html{ :lang => "ja" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "A web interface to support browsing public ChIP-Seq data via IGV." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas - details for #{@expid}"

    / Bootstrap core CSS
    %link{ :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet" }

    / Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }= "ChIP-Atlas"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/colo" }= "Co-Association Analysis"
            %li
              %a{ :href => "#{app_root}/target_genes" }= "Target Gene Analysis"
            %li
              %a{ :href => "#{app_root}/about" }= "About"
            %li
              %a{ :href => "#{app_root}/documents" }= "Documents"
            %li
              %a{ :href => "#{app_root}/contact" }= "Contact"
            %li
              %a{ :href => "#{app_root}/log" }= "Change Log"

    .container
      - metadata = Experiment.record_by_expid(@expid)
      .row
        .col-md-10
          .page-header
            %h2
              = @expid
              .small
                = metadata[:title] != "-" ? metadata[:title] : "no title"
        .col-md-2
          .button-submit.down3
            %button.btn.btn-primary.btn-lg.btn-block= "View on IGV"
          .dropdown-link
            .dropdown
              .button.btn.btn-default.btn-lg.dropdown-toggle{ :type => "button", :id => "analysis-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                View Analysis
                %span.caret
              %ul.dropdown-menu{ "aria-labelledby" => "movies-dropdown" }
                %li
                  %a{ :href => "#" }= "Co-Association"
                %li
                  %a{ :href => "#" }= "Target Gene"
          .dropdown-link
            .dropdown
              .button.btn.btn-default.btn-lg.dropdown-toggle{ :type => "button", :id => "linkout-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                Link Out
                %span.caret
              %ul.dropdown-menu{ "aria-labelledby" => "movies-dropdown" }
                - antigen = metadata[:agSubClass]
                - celltype = metadata[:clSubClass].gsub("\s","+")
                %li.dropdown-header
                  SRA Experiment
                %li
                  %a{ :href => "http://sra.dbcls.jp/search/search?search_query=#{@expid}" }= "DBCLS SRA"
                %li
                  %a{ :href => "http://www.ncbi.nlm.nih.gov/sra/?term=#{@expid}" }= "NCBI SRA"
                %li.dropdown-header
                  = 'Antigen: ' + antigen
                %li
                  %a{ :href => "https://www.wikigenes.org/?search=#{antigen}" }= "wikigenes"
                %li
                  %a{ :href => "http://omicspace.riken.jp/PosMed/search?actionType=searchexec&keyword=#{antigen}" }= "PosMed"
                %li
                  %a{ :href => "http://pdbj.org/mine/search?query=#{antigen}" }= "PDBj"
                %li.dropdown-header
                  = 'CellType: ' + "#{celltype}"
                %li
                  %a{ :href => "http://www.atcc.org/Search_Results.aspx?searchTerms=#{celltype}" }= "ATCC"
                %li
                  %a{ :href => "http://www.ncbi.nlm.nih.gov/mesh/?term=#{celltype}" }= "MeSH"
                %li
                  %a{ :href => "http://www2.brc.riken.jp/lab/cell/list.cgi?skey=#{celltype}" }= "RIKEN BRC"



      .row.mdata
        .col-md-12
          %h3= "Curated Sample Data"
          %table.table.table-bordered
            %tr
              %th= "Genome"
              %th= "Antigen Class"
              %th= "Antigen Subclass"
              %th= "Cell type Class"
              %th= "Cell type Subclass"
            %tr
              %td= metadata[:genome]
              %td= metadata[:agClass]
              %td= metadata[:agSubClass]
              %td= metadata[:clClass]
              %td= metadata[:clSubClass]

      .row.mdata
        .col-md-12
          %h3= "Cell type information"
          %table.table.table-bordered
            - metadata[:clSubClassInfo].split("|").each_slice(6) do |kv_set|
              %tr
                - kv_set.each do |kv|
                  %th= kv.split("=").first
              %tr
                - kv_set.each do |kv|
                  %td= kv.split("=").last

      .row.mdata
        .col-md-12
          %h3= "Attributes by Original Data Submitter"
          %table.table.table-bordered
            - metadata[:attributes].split("\t").each_slice(6) do |kv_set|
              %tr
                - kv_set.each do |kv|
                  %th= kv.split("=").first
              %tr
                - kv_set.each do |kv|
                  %td= kv.split("=").last

      .row.mdata
        .col-md-12
          %h3= "Metadata from Sequence Read Archive"

          .mdata
            %h4= "Library Description"
            %table.table.table-bordered
              %tr
                - @ncbi[:library_description].each_pair do |k,v|
                  - if v != ""
                    %th= k.to_s
              %tr
                - @ncbi[:library_description].each_pair do |k,v|
                  - if v != ""
                    %td= v.to_s
          .mdata
            %h4= "Platform Information"
            %table.table.table-bordered
              %tr
                - @ncbi[:platform_information].each_pair do |k,v|
                  - if v != ""
                    %th= k.to_s
              %tr
                - @ncbi[:platform_information].each_pair do |k,v|
                  - if v != ""
                    %td= v.to_s

      .row.mdata
        .col-md-12
          %h3= "Sequence Quality Data from DBCLS SRA"
          %p= "(Figures of phred score from each fastq files will be here)"


    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" }
    %script{ :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" }
    %script{ :src => "http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js" }

    / 'code here'
