!!! 5
%html{ :lang => "ja" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "A web interface to support browsing public ChIP-Seq data via IGV." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas"

    / Bootstrap core CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }

    / Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }= "ChIP-Atlas"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{ :href => "#{app_root}" }= "Home"
            %li
              %a{ :href => "#{app_root}/About" }= "About"
            %li
              %a{ :href => "#{app_root}/Document" }= "Document"

    .container
      .header
        %h1= "ChIP-Atlas"
        %p= "Visualize All Peaks from Published ChIP-Seq data."

      .genomeTab{ :role => "tabpanel"}
        %ul.nav.nav-tabs{ :role => "tablist" }
          - @list_of_genome.each.with_index do |genome, i|
            %li{ :role => "presentation", :class => "#{(i == 0) ? 'active' : '' }" }
              %a{ :href => "##{genome}", "aria-controls" => genome, :role => "tab", "data-toggle" => "tab" }
                = "#{genome}"

        .tab-content
          - @list_of_genome.each.with_index do |genome, i|
            .tab-pane.fade{ :role => "tabpanel", :id => genome, :class => "#{(i == 0) ? 'in active' : ''}" }
              - index = @index_all_genome[genome]
              %row
                .col-md-4
                  %form
                    .panel.panel-default
                      .panel-heading{ :id => "heading-#{genome}agClass" }
                        %h4.panel-title
                          Antigen Class
                      .panel-body
                        %select.form-control{ :id => "#{genome}agClass", :size => 8 }
                          - ag = index[:antigen]
                          %option{ :value => "All antigens", "selected" => true }= "All antigens (#{ag.values.map{|n| n.values }.flatten.reduce(:+)})"
                          - ag.each_pair do |agClass, agSubClass|
                            %option{ :value => agClass }= "#{agClass} (#{agSubClass.each_value.reduce(:+)})"
                          
                    .panel.panel-default
                      .panel-heading{ :id => "heading-#{genome}agSubClass" }
                        %h4.panel-title
                          %a{ "data-toggle" => "collapse", "aria-controls" => "collapse-#{genome}agSubClass", :id => "toggle-#{genome}agSubClass" }
                            Antigen Sub Class
                      .collapse{ :id => "collapse-#{genome}agSubClass" }
                        .panel-body
                          %select.form-control.flexselect{ :id => "#{genome}agSubClass", :size => 8 }

                .col-md-4
                  %form
                    .panel.panel-default
                      .panel-heading{ :id => "heading-#{genome}clClass" }
                        %h4.panel-title
                          Cell Type Class
                      .panel-body
                        %select.form-control{ :id => "#{genome}clClass", :size => 8 }
                          - cl = index[:celltype]
                          %option{ :value => "All cell types", "selected" => true }= "All cell types (#{cl.values.map{|n| n.values }.flatten.reduce(:+)})"
                          - cl.each_pair do |clClass, clSubClass|
                            %option{ :value => clClass }= "#{clClass} (#{clSubClass.each_value.reduce(:+)})"

                    .panel.panel-default
                      .panel-heading{ :id => "heading-#{genome}clSubClass"}
                        %h4.panel-title
                          %a{ "data-toggle" => "collapse", "aria-controls" => "collapse-#{genome}clSubClass", :id => "toggle-#{genome}clSubClass"}
                            Cell Type Sub Class
                      .collapse{ :id => "collapse-#{genome}clSubClass" }
                        .panel-body
                          %select.form-control.flexselect{ :id => "#{genome}clSubClass", :size => 8 }
                    
                .col-md-4
                  %form
                    .panel.panel-default
                      .panel-heading{ :id => "heading-#{genome}qval"}
                        %h4.panel-title
                          Quality Value Threshold
                      .panel-body
                        %select.form-control{ :id => "#{genome}qval", :size => 5 }
                          - @qval_range.each.with_index do |qv, i|
                            %option{ :value => qv, "selected" => "#{(i == 0) ? 'true' : '' }" }= "#{qv}"
                  
                  .button-submit
                    %button.btn.btn-primary.btn-lg.btn-block{ :id => "submit", :type => "button" }= "View on IGV"

    /
      Bootstrap Core Javascript
      =========================
    %link{ :href => "#{app_root}/css/flexselect.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ :src => "#{app_root}/js/liquidmetal.js" }
    %script{ :src => "#{app_root}/js/jquery.flexselect.js" }

    / 'code here'

    :javascript
      // tab controller
      $.each(#{@list_of_genome}, function(i, value){
        $('#' + value + ' a').click(function(e){
          e.preventDefault();
          $(this).tab('show')
        })
      });
      
      // tab trigger event
      $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
        var activatedTab = e.target;
        var previousTab = e.relatedTarget;
        var genome = $('.genomeTab ul li.active a').text().replace(/[\n\s ]/g, "");
        $.each(["ag","cl"], function(i, value){
          $('select#' + genome + value + 'SubClass').empty();
        })
      });
      
      // collapse controller
      $.each(#{@list_of_genome}, function(i, genome){
        $.each(["ag", "cl"], function(i, type){
          $('#toggle-' + genome + type + 'SubClass').click(function(){
            $('#collapse-' + genome + type + 'SubClass').collapse('toggle');
          });
        });
      });
      
      // generate subclass list
      var indexAll = JSON.parse('#{JSON.dump(@index_all_genome)}');
      $.each(#{@list_of_genome}, function(ig, genome){
        $.each([["antigen", "ag"], ["celltype", "cl"]], function(it, type){
          $('select#' + genome + type[1] + 'Class').change(function(){
            var genomeSelected = $('.genomeTab ul li.active a').text().replace(/[\n\s ]/g, "");
            var valueSelected  = $('select#' + genomeSelected + type[1] + 'Class option:selected').val();
            var subClassObj    = indexAll[genomeSelected][type[0]][valueSelected];
            
            $('select#' + genomeSelected + type[1] + 'SubClass').empty();
            
            Object.keys(subClassObj).forEach(function(key){
              $("<option>")
                .attr("value", key)
                .append(key + " (" + this[key] + ")")
                .appendTo('select#' + genomeSelected + type[1] + 'SubClass');
            }, subClassObj);
          });
        })
      })
      
      // send data to get igv url
      $(function(){
        $("button#submit").click(function(){
          var button = $(this);
          button.attr("disabled", true);

          var genome = $('.genomeTab ul li.active a').text().replace(/[\n\s ]/g, "");
          var data = {
            // igv: $().text
            condition: {
              genome: genome,
              agClass: $('#' + genome + 'agClass option:selected').val(),
              agSubClass: $('#' + genome + 'agSubClass option:selected').val(),
              clClass: $('#' + genome + 'clClass option:selected').val(),
              clSubClass: $('#' + genome + 'clSubClass option:selected').val(),
              qval: $('#qval option:selected').val()
            }
          };

          alert(JSON.stringify(data));

          $.ajax({
            type : 'post',
            url : "#{app_root}/browse",
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            scriptCharset: 'utf-8',
            success : function(response) {
              alert(JSON.stringify(response));
              window.open(response.url, "_self", "")
            },
            error : function(response){
              alert(JSON.stringify(response));
              alert("error!");
            },
            complete: function(){
              button.attr("disabled", false);
            }
          });
        })
      })
