!!! 5
%html{ :lang => "ja" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "A web interface to support browsing public ChIP-Seq data via IGV." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas"

    // Bootstrap core CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }= "ChIP-Atlas"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{ :href => "#{app_root}" }= "Home"
            %li
              %a{ :href => "#{app_root}/About" }= "About"
            %li
              %a{ :href => "#{app_root}/Document" }= "Document"

    .container
      // Header Titles. I still love the idea to name this 'peak john' but it is not. I'm okay.
      .header
        %h1= "ChIP-Atlas"
        %p= "Visualize All Peaks from Published ChIP-Seq data."
       
      // Navigation Tabs, links and contents
      .genomeTab{ :role => "tabpanel"}
        
        // Tabs
        %ul.nav.nav-tabs{ :role => "tablist" }
          - @list_of_genome.each.with_index do |genome, i|
            %li{ :role => "presentation", :class => "#{(i == 0) ? 'active' : '' }" }
              %a{ :href => "##{genome}", "aria-controls" => genome, :role => "tab", "data-toggle" => "tab" }
                = "#{genome}"
        
        // Contents
        .tab-content
          - @list_of_genome.each.with_index do |genome, i|
            .tab-pane.fade{ :role => "tabpanel", :id => genome, :class => "#{(i == 0) ? 'in active' : ''}" }
              - index = @index_all_genome[genome]
              %row
                - [["ag","Antigen"],["cl", "Cell type"]].each do |set|
                  .col-md-4
                    %form
                      .panel.panel-default
                        - class_id = "#{genome}#{set[0]}Class"
                        .panel-heading{ :id => "heading-#{class_id}" }
                          %h4.panel-title= "#{set[1]} Class"
                        .panel-body
                          %select.form-control{ :id => "#{class_id}", :size => 8 }
                            - ind = index[set[1].downcase.sub("\s","").intern]
                            - count = ind.values.map{|n| n.values }.flatten.reduce(:+)
                            %option{ :value => "All #{set[1].downcase}s", "selected" => true }= "All #{set[1].downcase}s (#{count})"
                            - ind.each_pair do |typeClass, typeSubClass|
                              %option{ :value => typeClass }= "#{typeClass} (#{typeSubClass.each_value.reduce(:+)})"
                            
                      .panel.panel-default
                        - sclass_id = "#{genome}#{set[0]}SubClass"
                        .panel-heading{ :id => "heading-#{sclass_id}" }
                          %h4.panel-title
                            %a{ "data-toggle" => "collapse", "aria-controls" => "collapse-#{sclass_id}", :id => "toggle-#{sclass_id}" }
                              Antigen Sub Class
                        .collapse{ :id => "collapse-#{sclass_id}" }
                          .panel-body
                            %select.form-control.flexselect{ :id => "#{sclass_id}", :size => 8 }
                              %option{ :value => "-", "selected" => true }= "All"
                
                .col-md-4
                  %form
                    .panel.panel-default
                      .panel-heading{ :id => "heading-#{genome}qval"}
                        %h4.panel-title
                          Quality Value Threshold
                      .panel-body
                        %select.form-control{ :id => "#{genome}qval", :size => 5 }
                          - @qval_range.each.with_index do |qv, i|
                            %option{ :value => qv, "selected" => "#{(i == 0) ? 'true' : '' }" }= "#{qv}"
                  
                  .button-submit
                    %button.btn.btn-primary.btn-lg.btn-block{ :id => "submit", :type => "button" }= "View on IGV"

    /
      Bootstrap Core Javascript
      =========================
    %link{ :href => "#{app_root}/css/flexselect.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ :src => "#{app_root}/js/liquidmetal.js" }
    %script{ :src => "#{app_root}/js/jquery.flexselect.js" }

    / 'code here'

    :javascript
      // retrieve index
      var indexAll = JSON.parse('#{JSON.dump(@index_all_genome)}');

      // iterate for each genomes
      $.each(#{@list_of_genome}, function(i, genome){
        // set tab controller
        $('#' + genome + ' a').click(function(e){
          e.preventDefault();
          $(this).tab('show')
        })
        
        // collapse controller
        $.each(["ag", "cl"], function(i, type){
          $('#toggle-' + genome + type + 'SubClass').click(function(){
            $('#collapse-' + genome + type + 'SubClass').collapse('toggle');
          });
        });
        
        // generate select tags for subclass
        $.each([["antigen", "ag"], ["celltype", "cl"]], function(it, type){
          $('select#' + genome + type[1] + 'Class').change(function(){
            var genomeSelected = $('.genomeTab ul li.active a').text().replace(/[\n\s ]/g, "");
            var valueSelected  = $('select#' + genomeSelected + type[1] + 'Class option:selected').val();
            var subClassObj    = indexAll[genomeSelected][type[0]][valueSelected];
            
            $('select#' + genomeSelected + type[1] + 'SubClass').empty();
            
            $("<option>")
              .attr("value", "-")
              .attr("selected", "true")
              .append("All")
              .appendTo('select#' + genomeSelected + type[1] + 'SubClass');
            
            Object.keys(subClassObj).forEach(function(key){
              $("<option>")
                .attr("value", key)
                .append(key + " (" + this[key] + ")")
                .appendTo('select#' + genomeSelected + type[1] + 'SubClass');
            }, subClassObj);
          });
        })
      });
      
      // tab trigger event
      $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
        var activatedTab = e.target;
        var previousTab = e.relatedTarget;
        var genome = $('.genomeTab ul li.active a').text().replace(/[\n\s ]/g, "");
        $.each(["ag","cl"], function(i, value){
          $('select#' + genome + value + 'SubClass').empty();
        })
      });
      
      // send data to get igv url
      $(function(){
        $("button#submit").click(function(){
          var button = $(this);
          button.attr("disabled", true);

          var genome = $('.genomeTab ul li.active a').text().replace(/[\n\s ]/g, "");
          var data = {
            // igv: $().text
            condition: {
              genome: genome,
              agClass: $('#' + genome + 'agClass option:selected').val(),
              agSubClass: $('#' + genome + 'agSubClass option:selected').val(),
              clClass: $('#' + genome + 'clClass option:selected').val(),
              clSubClass: $('#' + genome + 'clSubClass option:selected').val(),
              qval: $('#' + genome + 'qval option:selected').val()
            }
          };

          alert(JSON.stringify(data));

          $.ajax({
            type : 'post',
            url : "#{app_root}/browse",
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            scriptCharset: 'utf-8',
            success : function(response) {
              alert(JSON.stringify(response));
              window.open(response.url, "_self", "")
            },
            error : function(response){
              alert(JSON.stringify(response));
              alert("error!");
            },
            complete: function(){
              button.attr("disabled", false);
            }
          });
        })
      })
