!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "Search ChIP-Atlas dataset by keywords." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas: Dataset Search"

    // Bootstrap core and typeahead CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }
    %link{:href => "https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css", :rel => "stylesheet", :type => "text/css"}

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

    // GA
    %script{:async => true, :src => "https://www.googletagmanager.com/gtag/js?id=UA-117599014-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117599014-1');

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }= "ChIP-Atlas"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }= "Peak Browser"
            %li
              %a{ :href => "#{app_root}/target_genes" }= "Target Genes"
            %li
              %a{ :href => "#{app_root}/colo" }= "Colocalization"
            %li
              %a{ :href => "#{app_root}/enrichment_analysis" }= "Enrichment Analysis"
            %li.active
              %a{ :href => "#{app_root}/search" }= "Dataset Search"
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }= "Documentation"
            %li
              %a{ :href => "#{app_root}/publications" }= "Publications"

    .container
      .row
        .col-md-10
          .header
            %h1= "ChIP-Atlas: Dataset Search"
            %p= "Search Experiments by keywords."

      .searchTab{ :role => "tabpanel"}
        %ul.nav.nav-tabs{ :role => "tablist" }
          - ["Simple", "Advanced"].each.with_index do |stype, i|
            %li{ :role => "presentation", :class => "#{(i == 0) ? 'active' : '' }", :id => "#{stype}-tab" }
              %a{ :href => "##{stype}-tab-content", "aria-controls" => "#{stype}-tab-content", :role => "tab", "data-toggle" => "tab", "source" => stype }
                = "#{stype} search"

        .tab-content
          - ["Simple", "Advanced"].each.with_index do |stype, i|
            .tab-pane.fade{ :role => "tabpanel", :id => "#{stype}-tab-content", :class => "#{(i == 0) ? 'in active' : ''}" }
              .row
                .col-md-12
                  %table.table.table-striped{ id: "#{stype}SearchDataTable" }

    %footer.footer
      .container
        %row
          .col-md-4.col-md-offset-4
            %a{ href: "http://www.mic.med.kyoto-u.ac.jp/dddm_en/", target: "_blank" }
              %img{ src: "/images/logo/kyoto_uni_logo.png", width: 120 }
            %span.collaboration
              in collaboration with
            %a{ href: "https://dbcls.rois.ac.jp", target: "_blank" }
              %img{ src: "/images/logo/dbcls_logo.png", width: 100 }
        %row
          .col-md-6.col-md-offset-3
            %p.acknowledgement
              This work is supported by
              %a{ href: "https://sc.ddbj.nig.ac.jp/" }
                NIG Supercomputer system
              and
              %a{ href: "https://biosciencedbc.jp" }
                National Bioscience Database Center.
            %p
              Need help? Create an issue on
              %a{ href: "https://github.com/inutano/chip-atlas/issues" }
                github
              or
              %a{ href: "mailto:oki.shinya.3w@kyoto-u.ac.jp" }
                contact us

    /
      Bootstrap Core Javascript
      =========================
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    -# %script{ :src => "https://code.jquery.com/jquery-1.12.4.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :src => "#{app_root}/js/pj/search.js" }

    %script{ :src => "https://www.datatables.net/release-datatables/media/js/jquery.js" }
    %script{ :src => "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" }
    %script{ :src => "https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js" }
    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" }
    %script{ :src => "https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js" }
