!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    %meta{ :name => "description", :content => "Prediction of potential target genes of transcription factors based on experimental results." }
    %meta{ :name => "author", :content => "Shinya Oki, Tazro Ohta" }

    %title= "ChIP-Atlas: Target Genes"

    // Bootstrap core and typeahead CSS
    %link{ :href => "#{app_root}/css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "#{app_root}/css/typeaheadjs.css", :rel => "stylesheet" }

    // Custom style for this website
    %link{ :href => "#{app_root}/style.css", :rel => "stylesheet"}

    // GA
    %script{:async => true, :src => "https://www.googletagmanager.com/gtag/js?id=UA-117599014-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117599014-1');

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ :type => "button", "data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href => "#{app_root}" }= "ChIP-Atlas"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "#{app_root}/peak_browser" }= "Peak Browser"
            %li.active
              %a{ :href => "#{app_root}/target_genes" }= "Target Genes"
            %li
              %a{ :href => "#{app_root}/colo" }= "Colocalization"
            %li
              %a{ :href => "#{app_root}/enrichment_analysis" }= "Enrichment Analysis"
            %li
              %a{ :href => "#{app_root}/search" }= "Dataset Search"
            %li
              %a{ :href => "https://github.com/inutano/chip-atlas/wiki" }= "Documentation"
            %li
              %a{ :href => "#{app_root}/publications" }= "Publications"
          %form.navbar-form.navbar-right{ role: "search" }
            .form-group
              %input.form-control#jumpToExperiment{ type: "text", value: "SRX018625", }
            %button.btn.btn-default.go-experiment{ type: "submit", }= "Go"
          %p.navbar-text.navbar-right
            Search by SRX/GSM ID

    .container
      .row
        .col-md-10
          .header
            %h1
              ChIP-Atlas: Target Genes
            %p
              Predict target genes bound by given transcription factors
        .col-md-2
          .dropdown-help
            .dropdown
              .button.btn.btn-default.dropdown-toggle{ :type => "button", :id => "movies-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
                Tutorial movie
                %span.caret
              %ul.dropdown-menu{ "aria-labelledby" => "movies-dropdown" }
                %li
                  %a{ :href => "https://youtu.be/Sp9DUAuKkvQ", :target => "_blank" }= "How to use"
                %li
                  %a{ :href => "http://doi.org/10.7875/togotv.2018.024", :target => "_blank" }= "How to use (統合TV, Japanese)"

      // Navigation Tabs, links and contents
      .genomeTab{ :role => "tabpanel"}

        // Tabs
        %ul.nav.nav-tabs{ :role => "tablist" }
          - @list_of_genome.keys.each.with_index do |genome, i|
            %li{ :role => "presentation", :class => "#{(i == 0) ? 'active' : '' }", :id => "#{genome}-tab" }
              %a{ :href => "##{genome}-tab-content", "aria-controls" => "#{genome}-tab-content", :role => "tab", "data-toggle" => "tab", "source" => genome }
                = "#{@list_of_genome[genome]}"

        // Contents
        .tab-content
          - @list_of_genome.keys.each.with_index do |genome, i|
            .tab-pane.fade{ :role => "tabpanel", :id => "#{genome}-tab-content", :class => "#{(i == 0) ? 'in active' : ''}" }
              .row
                .col-md-3
                  .panel.panel-default
                    - panel = "#{genome}AntigenPanel"
                    .panel-heading{ :id => panel }
                      %h4.panel-title= "1. Choose Antigen"
                    .panel-body
                      %input.typeahead.form-control{ :type => "text", :placeholder => "type to search", :id => "#{panel}-typeahead" }
                      %hr
                      %select.form-control.flexselect{ :id => "#{panel}-select",  :size => 8 }

                .col-md-3
                  .panel.panel-default
                    - panel = "#{genome}DistancePanel"
                    .panel-heading{ :id => panel }
                      %h4.panel-title= "2. Choose Distance from TSS"
                    .panel-body
                      %form{ :id => "#{panel}-form" }
                        .radio
                          %label
                            %input{ :type => "radio", :id => genome + "Distance1k", :value => "1", :name => genome +  "DistanceOption", checked: true }
                            = " ±1k "
                        .radio
                          %label
                            %input{ :type => "radio", :id => genome + "Distance5k", :value => "5", :name => genome + "DistanceOption" }
                            = " ±5k "
                        .radio
                          %label
                            %input{ :type => "radio", :id => genome + "Distance10k", :value => "10", :name => genome +  "DistanceOption" }
                            = " ±10k "

              .row
                .col-md-6.col-md-offset-3
                  .button-submit
                    %button.btn.btn-primary.btn-lg.btn-block.post{ :id => "target-gene-submit", :type => "button" }= "View Potential Target Genes"
                    %button.btn.btn-primary.btn-lg.btn-block.post{ :id => "target-gene-download", :type => "button" }= "Download (TSV)"


    %footer.footer
      .container
        %row
          .col-md-4.col-md-offset-4
            %a{ href: "http://www.mic.med.kyoto-u.ac.jp/dddm_en/", target: "_blank" }
              %img{ src: "/images/logo/kyoto_uni_logo.png", width: 120 }
            %span.collaboration
              in collaboration with
            %a{ href: "https://dbcls.rois.ac.jp", target: "_blank" }
              %img{ src: "/images/logo/dbcls_logo.png", width: 100 }
        %row
          .col-md-6.col-md-offset-3
            %p.acknowledgement
              This work is supported by
              %a{ href: "https://sc.ddbj.nig.ac.jp/" }
                NIG Supercomputer system
              and
              %a{ href: "https://biosciencedbc.jp" }
                National Bioscience Database Center.
            %p
              Need help? Create an issue on
              %a{ href: "https://github.com/inutano/chip-atlas/issues" }
                github
              or
              %a{ href: "mailto:oki.shinya.3w@kyoto-u.ac.jp" }
                contact us
    /
      Bootstrap Core Javascript
      =========================
    %link{ :href => "#{app_root}/css/flexselect.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{ :src => "#{app_root}/js/jquery.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/ie10-viewport-bug-workaround.js" }
    %script{ :src => "#{app_root}/js/liquidmetal.js" }
    %script{ :src => "#{app_root}/js/jquery.flexselect.js" }
    %script{ :src => "#{app_root}/js/typeahead.bundle.js" }
    %script{ :src => "#{app_root}/js/pj/pj.js" }
    %script{ :src => "#{app_root}/js/pj/target_genes.js" }
