- @page_title = "ChIP-Atlas: Target Genes"
- @page_description = "Prediction of potential target genes of transcription factors based on experimental results."
- @active_menu = 'target_genes'
- @additional_css = [
-   { href: "#{app_root}/css/typeaheadjs.css" },
-   { href: "#{app_root}/css/flexselect.css", media: "screen" }
- ]
- @additional_js = [
-   "#{app_root}/js/liquidmetal.js",
-   "#{app_root}/js/jquery.flexselect.js",
-   "#{app_root}/js/typeahead.bundle.js",
-   "#{app_root}/js/pj/target_genes.js"
- ]

.row
  .col-md-10
    .header
      %h1
        %i.fas.fa-mountain
        ChIP-Atlas: Target Genes
      %p
        Search for genes bound by given transcription factors
  .col-md-2
    .dropdown-help
      .dropdown
        .button.btn.btn-primary.dropdown-toggle{ :type => "button", :id => "movies-dropdown", "data-toggle" => "dropdown", "aria-haspopup" => true, "aria-expanded" => true }
          %i.fas.fa-question-circle
          Tutorial
          %span.caret
        %ul.dropdown-menu{ "aria-labelledby" => "movies-dropdown" }
          %li
            %a{ :href => "https://chip-atlas.dbcls.jp/data/manual/Target_Genes/Target_Genes.pdf", :target => "_blank" }="PDF"
          %li
            %a{ :href => "https://youtu.be/Sp9DUAuKkvQ", :target => "_blank" }= "Movie"
          %li
            %a{ :href => "http://doi.org/10.7875/togotv.2018.024", :target => "_blank" }= "Movie (統合TV, Japanese)"

// Navigation Tabs, links and contents
.genomeTab{ :role => "tabpanel"}

  // Tabs
  %ul.nav.nav-tabs{ :role => "tablist" }
    - @list_of_genome.keys.each.with_index do |genome, i|
      %li{ :role => "presentation", :class => "#{(i == 0) ? 'active' : '' }", :id => "#{genome}-tab" }
        %a{ :href => "##{genome}-tab-content", "aria-controls" => "#{genome}-tab-content", :role => "tab", "data-toggle" => "tab", "source" => genome }
          = "#{@list_of_genome[genome]}"

  // Contents
  .tab-content
    - @list_of_genome.keys.each.with_index do |genome, i|
      .tab-pane.fade{ :role => "tabpanel", :id => "#{genome}-tab-content", :class => "#{(i == 0) ? 'in active' : ''}" }
        .row
          .col-md-3
            .panel.panel-default
              - panel = "#{genome}AntigenPanel"
              .panel-heading{ :id => panel }
                %h4.panel-title= "1. Choose Antigen"
              .panel-body
                %input.typeahead.form-control{ :type => "text", :placeholder => "Type to search", :id => "#{genome}Antigen" }
                %select.form-control.flexselect{ :id => "#{genome}Antigen", :size => 5 }

          .col-md-3
            .panel.panel-default
              - panel = "#{genome}CelltypePanel"
              .panel-heading{ :id => panel }
                %h4.panel-title= "2. Choose Cell type Class"
              .panel-body
                %select.form-control{ :id => "#{genome}CelltypeClass", :size => 5 }

          .col-md-3
            .panel.panel-default
              - panel = "#{genome}CelltypeSubPanel"
              .panel-heading{ :id => panel }
                %h4.panel-title= "3. Choose Cell type (optional)"
              .panel-body
                %input.typeahead.form-control{ :type => "text", :placeholder => "Type to search", :id => "#{genome}Celltype" }
                %select.form-control.flexselect{ :id => "#{genome}Celltype", :size => 5 }

          .col-md-3
            .panel.panel-default
              - panel = "#{genome}DistancePanel"
              .panel-heading{ :id => panel }
                %h4.panel-title= "4. Choose Distance"
              .panel-body
                %select.form-control{ :id => "#{genome}Distance", :size => 5 }
                  %option{ :value => "1", :selected => true }= "1kb"
                  %option{ :value => "5" }= "5kb"
                  %option{ :value => "10" }= "10kb"

        .row
          .col-md-offset-9.col-md-3
            .button-submit
              %button.btn.btn-primary.btn-lg.btn-block{ :id => "#{genome}submit", :type => "button" }= "Submit"

        .row
          .col-md-12
            - if @target_genes_analysis[genome] && @target_genes_analysis[genome].size > 0
              %table.table.table-striped{ :id => "#{genome}TargetGenesTable" }
                %thead
                  %tr
                    %td{ :width => "10%" }= "Index"
                    %td{ :width => "30%" }= "Antigen"
                    %td{ :width => "30%" }= "Cell type"
                    %td{ :width => "15%" }= "Distance"
                    %td{ :width => "15%" }= "Download"
                %tbody
                  - @target_genes_analysis[genome].each.with_index do |rec, i|
                    %tr
                      %td= "#{i + 1}"
                      %td= "#{rec["antigen"]}"
                      %td= "#{rec["celltype"]}"
                      %td= "#{rec["distance"]}kb"
                      %td
                        %a{ :href => "/data/target_genes/#{rec["genome"]}/#{rec["filename"]}" }
                          %button.btn.btn-primary= "TSV"
